---
layout: structure--pattern
title:  Gallery Grid
---

<ul>
    <li><a href="/patterns/layout/">Back</a></li>
</ul>

<hr />
<p class="u-padding--sides">...</p>

<div class="u-padding--sides">
    <ul class="l-gallery-grid  l-gallery-grid--gutter--small  l-gallery-grid--basis-20">
        <li class="u-space">
            <a href="https://dev.npeu.ox.ac.uk/ukoss" class="c-badge  c-badge--limit-height  c-badge--decorated u-fill-width u-fill-height l-center" style="color: #66b7e7; height: 5em;">
                <img src="/assets/images/brand-logos/unit/ukoss-logo.svg" onerror="this.src='/assets/images/brand-logos/unit/ukoss-logo.png'; this.onerror=null;" alt="Logo: UKOSS" height="80">
            </a>
        </li>    
        <li class="u-space">
            <a href="https://dev.npeu.ox.ac.uk/ukmidss" class="c-badge  c-badge--limit-height  c-badge--decorated u-fill-width u-fill-height l-center" style="color: #551f75; height: 5em;">
                <img src="/assets/images/brand-logos/unit/ukmidss-logo.svg" onerror="this.src='/assets/images/brand-logos/unit/ukmidss-logo.png'; this.onerror=null;" alt="Logo: UKMidSS" height="80">
            </a>
        </li>    
        <li class="u-space">
            <a href="https://dev.npeu.ox.ac.uk/mbrrace-uk" class="c-badge  c-badge--limit-height  c-badge--decorated u-fill-width u-fill-height l-center" style="color: #6a3b77; height: 5em;">
                <img src="/assets/images/brand-logos/unit/mbrrace-uk-logo.svg" onerror="this.src='/assets/images/brand-logos/unit/mbrrace-uk-logo.png'; this.onerror=null;" alt="Logo: MBRRACE-UK" height="80">
            </a>
        </li>    
        <li class="u-space">
            <a href="https://dev.npeu.ox.ac.uk/pmrt" class="c-badge  c-badge--limit-height  c-badge--decorated u-fill-width u-fill-height l-center" style="color: #36499b; height: 5em;">
                <img src="/assets/images/brand-logos/unit/pmrt-logo.svg" onerror="this.src='/assets/images/brand-logos/unit/pmrt-logo.png'; this.onerror=null;" alt="Logo: PMRT" height="80">
            </a>
        </li>    
        <li class="u-space">
            <a href="https://dev.npeu.ox.ac.uk/maathri" class="c-badge  c-badge--limit-height  c-badge--decorated u-fill-width u-fill-height l-center" style="color: #253a8e; height: 5em;">
                <img src="/assets/images/brand-logos/unit/maathri-logo.svg" onerror="this.src='/assets/images/brand-logos/unit/maathri-logo.png'; this.onerror=null;" alt="Logo: MaatHRI" height="80">
            </a>
        </li>    
        <li class="u-space">
            <a href="https://dev.npeu.ox.ac.uk/valentia" class="c-badge  c-badge--limit-height  c-badge--decorated u-fill-width u-fill-height l-center" style="color: #5f6db2; height: 5em;">
                <img src="/assets/images/brand-logos/unit/valentia-logo.svg" onerror="this.src='/assets/images/brand-logos/unit/valentia-logo.png'; this.onerror=null;" alt="Logo: Valentia" height="80">
            </a>
        </li>    
        <li class="u-space">
            <a href="https://dev.npeu.ox.ac.uk/birth-after-previous-caesarean" class="c-badge  c-badge--limit-height  c-badge--decorated u-fill-width u-fill-height l-center" style="color: #604776; height: 5em;">
                <img src="/assets/images/brand-logos/unit/birth-after-previous-caesarean-logo.svg" onerror="this.src='/assets/images/brand-logos/unit/birth-after-previous-caesarean-logo.png'; this.onerror=null;" alt="Logo: Birth after previous caesarean" height="80">
            </a>
        </li>    
        <li class="u-space">
            <a href="https://dev.npeu.ox.ac.uk/inoss" class="c-badge  c-badge--limit-height  c-badge--decorated u-fill-width u-fill-height l-center" style="color: #542d00; height: 5em;">
                <img src="/assets/images/brand-logos/unit/inoss-logo.svg" onerror="this.src='/assets/images/brand-logos/unit/inoss-logo.png'; this.onerror=null;" alt="Logo: INOSS" height="80">
            </a>
        </li>    
        <li class="u-space">
            <a href="https://dev.npeu.ox.ac.uk/baps-cass" class="c-badge  c-badge--limit-height  c-badge--decorated u-fill-width u-fill-height l-center" style="color: #315b9b; height: 5em;">
                <img src="/assets/images/brand-logos/unit/baps-cass-logo.svg" onerror="this.src='/assets/images/brand-logos/unit/baps-cass-logo.png'; this.onerror=null;" alt="Logo: BAPS-CASS" height="80">
            </a>
        </li>    
        <li class="u-space">
            <a href="https://dev.npeu.ox.ac.uk/tigar" class="c-badge  c-badge--limit-height  c-badge--decorated u-fill-width u-fill-height l-center" style="color: #f18626; height: 5em;">
                <img src="/assets/images/brand-logos/unit/tigar-logo.svg" onerror="this.src='/assets/images/brand-logos/unit/tigar-logo.png'; this.onerror=null;" alt="Logo: TIGAR" height="80">
            </a>
        </li>    
        <li class="u-space">
            <a href="https://dev.npeu.ox.ac.uk/pearl" class="c-badge  c-badge--limit-height  c-badge--decorated u-fill-width u-fill-height l-center" style="color: #662483; height: 5em;">
                <img src="/assets/images/brand-logos/unit/pearl-logo.svg" onerror="this.src='/assets/images/brand-logos/unit/pearl-logo.png'; this.onerror=null;" alt="Logo: PEARL" height="80">
            </a>
        </li>    
        <li class="u-space">
            <a href="https://dev.npeu.ox.ac.uk/esmie" class="c-badge  c-badge--limit-height  c-badge--decorated u-fill-width u-fill-height l-center" style="color: #009490; height: 5em;">
                <img src="/assets/images/brand-logos/unit/esmie-logo.svg" onerror="this.src='/assets/images/brand-logos/unit/esmie-logo.png'; this.onerror=null;" alt="Logo: ESMiE" height="80">
            </a>
        </li>    
        <li class="u-space">
            <a href="https://dev.npeu.ox.ac.uk/jla-psp" class="c-badge  c-badge--limit-height  c-badge--decorated u-fill-width u-fill-height l-center" style="color: #216092; height: 5em;">
                <img src="/assets/images/brand-logos/unit/jla-psp-logo.svg" onerror="this.src='/assets/images/brand-logos/unit/jla-psp-logo.png'; this.onerror=null;" alt="Logo: JLA-PSP" height="80">
            </a>
        </li>    
        <li class="u-space">
            <a href="https://dev.npeu.ox.ac.uk/maternity-surveys" class="c-badge  c-badge--limit-height  c-badge--decorated u-fill-width u-fill-height l-center" style="color: #007f6e; height: 5em;">
                <img src="/assets/images/brand-logos/unit/maternity-surveys-logo.svg" onerror="this.src='/assets/images/brand-logos/unit/maternity-surveys-logo.png'; this.onerror=null;" alt="Logo: Maternity Surveys" height="80">
            </a>
        </li>    
        <li class="u-space">
            <a href="https://dev.npeu.ox.ac.uk/choices" class="c-badge  c-badge--limit-height  c-badge--decorated u-fill-width u-fill-height l-center" style="color: #3272af; height: 5em;">
                <img src="/assets/images/brand-logos/unit/choices-logo.svg" onerror="this.src='/assets/images/brand-logos/unit/choices-logo.png'; this.onerror=null;" alt="Logo: Birthplace Choices" height="80">
            </a>
        </li>    
        <li class="u-space">
            <a href="https://dev.npeu.ox.ac.uk/listeningtoparents" class="c-badge  c-badge--limit-height  c-badge--decorated u-fill-width u-fill-height l-center" style="color: #133478; height: 5em;">
                <img src="/assets/images/brand-logos/unit/listeningtoparents-logo.svg" onerror="this.src='/assets/images/brand-logos/unit/listeningtoparents-logo.png'; this.onerror=null;" alt="Logo: Listening to Parents" height="80">
            </a>
        </li>    
        <li class="u-space">
            <a href="https://dev.npeu.ox.ac.uk/aimes" class="c-badge  c-badge--limit-height  c-badge--decorated u-fill-width u-fill-height l-center" style="color: #005daa; height: 5em;">
                <img src="/assets/images/brand-logos/unit/aimes-logo.svg" onerror="this.src='/assets/images/brand-logos/unit/aimes-logo.png'; this.onerror=null;" alt="Logo: AIMES" height="80">
            </a>
        </li>    
        <li class="u-space">
            <a href="https://dev.npeu.ox.ac.uk/nets" class="c-badge  c-badge--limit-height  c-badge--decorated u-fill-width u-fill-height l-center" style="color: #58595b; height: 5em;">
                <img src="/assets/images/brand-logos/unit/nets-logo.svg" onerror="this.src='/assets/images/brand-logos/unit/nets-logo.png'; this.onerror=null;" alt="Logo: NETS" height="80">
            </a>
        </li>    
        <li class="u-space">
            <a href="https://dev.npeu.ox.ac.uk/birthplace" class="c-badge  c-badge--limit-height  c-badge--decorated u-fill-width u-fill-height l-center" style="color: #0070ba; height: 5em;">
                <img src="/assets/images/brand-logos/unit/birthplace-logo.svg" onerror="this.src='/assets/images/brand-logos/unit/birthplace-logo.png'; this.onerror=null;" alt="Logo: Birthplace" height="80">
            </a>
        </li>    
        <li class="u-space">
            <a href="https://dev.npeu.ox.ac.uk/infant-mortality" class="c-badge  c-badge--limit-height  c-badge--decorated u-fill-width u-fill-height l-center" style="color: #354080; height: 5em;">
                <img src="/assets/images/brand-logos/unit/infant-mortality-logo.svg" onerror="this.src='/assets/images/brand-logos/unit/infant-mortality-logo.png'; this.onerror=null;" alt="Logo: Infant Mortality" height="80">
            </a>
        </li>    
        <li class="u-space">
            <a href="https://dev.npeu.ox.ac.uk/4child" class="c-badge  c-badge--limit-height  c-badge--decorated u-fill-width u-fill-height l-center" style="color: #29338a; height: 5em;">
                <img src="/assets/images/brand-logos/unit/4child-logo.svg" onerror="this.src='/assets/images/brand-logos/unit/4child-logo.png'; this.onerror=null;" alt="Logo: 4Child" height="80">
            </a>
        </li>    
        <li class="u-space">
            <a href="https://dev.npeu.ox.ac.uk/carobb" class="c-badge  c-badge--limit-height  c-badge--decorated u-fill-width u-fill-height l-center" style="color: #398f3b; height: 5em;">
                <img src="/assets/images/brand-logos/unit/carobb-logo.svg" onerror="this.src='/assets/images/brand-logos/unit/carobb-logo.png'; this.onerror=null;" alt="Logo: CAROBB" height="80">
            </a>
        </li>    
    </ul>
</div>
<hr />
<hr />
