<!--

    BROCHURE
    
-->


<h2 class="u-padding--sides" id="brochure">Brochure</h2>

<p class="u-padding--sides">Note that this pattern does not introduce any new classes, it's built entirely from existing ones.</p>

<div class="u-space--below">
    <div class="l-col-to-row  d-bands--bottom  d-bands--top">
        <div class="l-col-to-row__item  ff-width-100--50--50">
            <div class="c-panel  u-padding--sides--l">
                <div class="u-max-measure">
                    <h2>
                        This is a Heading
                    </h2>

                    <p>
                        Nunc eget diam lorem. Vestibulum eu luctus velit, imperdiet imperdiet nibh. Aliquam condimentum ut nunc non iaculis. Pellentesque vel tincidunt tortor. Praesent vel leo non neque molestie cursus. Morbi non rutrum leo, quis malesuada augue. Duis dapibus, eros sit amet condimentum venenatis, nisi enim sollicitudin eros, ut semper lorem purus eget tellus.
                    </p>
                    <p>
                        Vivamus aliquet turpis at magna finibus mollis. Vivamus pretium augue neque, ac ornare felis eleifend et. Pellentesque convallis, ex eget egestas fringilla, diam ex vulputate diam, eu condimentum nisi sapien in neque.
                    </p>
                </div>
            </div>
        </div>
        <div class="l-col-to-row__item  ff-width-100--50--50">
            <div class="u-image-cover  js-image-cover  u-image-cover--min-50">
                <div class="u-image-cover__inner">
                    <img src="/assets/images/patterns/placeholder-1--small.jpg" sizes="100vw" srcset="/assets/images/patterns/placeholder-1--large.jpg 1600w, /assets/images/patterns/placeholder-1--medium.jpg 900w, /assets/images/patterns/placeholder-1--small.jpg 300w" alt="" class="u-image-cover__image" width="200">
                </div>
            </div>
        </div>
    </div>
</div>

<p class="u-padding--sides">Oooh, happy accident. I really like this. Keep for reference for now.</p>

<div class="u-space--below">
    <div class="l-col-to-row  d-bands--bottom  d-bands--top">
        <div class="l-col-to-row__item  ff-width-100--50--33-333">
            <div class="c-panel  u-padding--sides--l">
                <div class="u-max-measure">
                    <h2>
                        This is a Heading
                    </h2>

                    <p>
                        Nunc eget diam lorem. Vestibulum eu luctus velit, imperdiet imperdiet nibh. Aliquam condimentum ut nunc non iaculis. Pellentesque vel tincidunt tortor. Praesent vel leo non neque molestie cursus. Morbi non rutrum leo, quis malesuada augue. Duis dapibus, eros sit amet condimentum venenatis, nisi enim sollicitudin eros, ut semper lorem purus eget tellus.
                    </p>
                    <p>
                        Vivamus aliquet turpis at magna finibus mollis. Vivamus pretium augue neque, ac ornare felis eleifend et. Pellentesque convallis, ex eget egestas fringilla, diam ex vulputate diam, eu condimentum nisi sapien in neque.
                    </p>
                </div>
            </div>
        </div>
        <div class="l-col-to-row__item  ff-width-100--50--33-333">
            <div class="u-image-cover  js-image-cover  u-image-cover--min-50">
                <div class="u-image-cover__inner">
                    <img src="/assets/images/patterns/placeholder-1--small.jpg" sizes="100vw" srcset="/assets/images/patterns/placeholder-1--large.jpg 1600w, /assets/images/patterns/placeholder-1--medium.jpg 900w, /assets/images/patterns/placeholder-1--small.jpg 300w" alt="" class="u-image-cover__image" width="200">
                </div>
            </div>
        </div>
        <div class="l-col-to-row__item  ff-width-100--50--33-333">
            <div class="c-panel  u-padding--sides--l">
                <div class="u-max-measure">
                    <h2>
                        This is a Heading
                    </h2>

                    <p>
                        Nunc eget diam lorem. Vestibulum eu luctus velit, imperdiet imperdiet nibh. Aliquam condimentum ut nunc non iaculis. Pellentesque vel tincidunt tortor. Praesent vel leo non neque molestie cursus. Morbi non rutrum leo, quis malesuada augue. Duis dapibus, eros sit amet condimentum venenatis, nisi enim sollicitudin eros, ut semper lorem purus eget tellus.
                    </p>
                    <p>
                        Vivamus aliquet turpis at magna finibus mollis. Vivamus pretium augue neque, ac ornare felis eleifend et. Pellentesque convallis, ex eget egestas fringilla, diam ex vulputate diam, eu condimentum nisi sapien in neque.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="u-padding--s">
    <details class="u-padding  d-background--light">
        <summary>Show code:</summary>
        <pre><code class="html">&lt;div class=&quot;l-col-to-row  d-bands--bottom  d-bands--top&quot;&gt;
    &lt;div class=&quot;l-col-to-row__item  ff-width-100--50--50&quot;&gt;
        &lt;div class=&quot;c-panel  u-padding--sides--l&quot;&gt;
            &lt;div class=&quot;u-max-measure&quot;&gt;
                &lt;h2&gt;
                    This is a Heading
                &lt;/h2&gt;

                &lt;p&gt;
                    Nunc eget diam lorem. Vestibulum eu luctus velit, imperdiet imperdiet nibh. Aliquam condimentum ut nunc non iaculis. Pellentesque vel tincidunt tortor. Praesent vel leo non neque molestie cursus. Morbi non rutrum leo, quis malesuada augue. Duis dapibus, eros sit amet condimentum venenatis, nisi enim sollicitudin eros, ut semper lorem purus eget tellus.
                &lt;/p&gt;
                &lt;p&gt;
                    Vivamus aliquet turpis at magna finibus mollis. Vivamus pretium augue neque, ac ornare felis eleifend et. Pellentesque convallis, ex eget egestas fringilla, diam ex vulputate diam, eu condimentum nisi sapien in neque.
                &lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;l-col-to-row__item  ff-width-100--50--50&quot;&gt;
        &lt;div class=&quot;u-image-cover  js-image-cover  u-image-cover--min-50&quot;&gt;
            &lt;div class=&quot;u-image-cover__inner&quot;&gt;
                &lt;img src=&quot;/assets/images/patterns/placeholder-1--small.jpg&quot; alt=&quot;&quot; class=&quot;u-image-cover__image&quot; width=&quot;200&quot;&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
    </details>
</div>

<h3 class="u-padding--sides">Brochure - reversed</h3>

<div class="u-space--below">
    <div class="l-col-to-row">
        <div class="l-col-to-row  l-col-to-row--reversed  d-bands--bottom  d-bands--top">
            <div class="l-col-to-row__item  ff-width-100--60--50">
                <div class="c-panel  u-padding--sides--l">
                    <div class="u-max-measure">
                        <h2>
                            Another Heading
                        </h2>

                        <p>
                            Nunc eget diam lorem. Vestibulum eu luctus velit, imperdiet imperdiet nibh. Aliquam condimentum ut nunc non iaculis. Pellentesque vel tincidunt tortor. Praesent vel leo non neque molestie cursus. Morbi non rutrum leo, quis malesuada augue. Duis dapibus, eros sit amet condimentum venenatis, nisi enim sollicitudin eros, ut semper lorem purus eget tellus.
                        </p>
                    </div>
                </div>
            </div>
            <div class="l-col-to-row__item  ff-width-100--60--50">
                <div class="u-image-cover  js-image-cover  u-image-cover--min-50">
                    <div class="u-image-cover__inner">
                        <img src="/assets/images/patterns/placeholder-2--small.jpg" sizes="100vw" srcset="/assets/images/patterns/placeholder-2--large.jpg 1600w, /assets/images/patterns/placeholder-2--medium.jpg 900w, /assets/images/patterns/placeholder-2--small.jpg 300w" alt="" class="u-image-cover__image" width="200">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="u-padding--s">
    <details class="u-padding  d-background--light">
        <summary>Show code:</summary>
<pre><code class="html">&lt;div class=&quot;l-col-to-row  <strong>l-col-to-row--reversed</strong>  d-bands--bottom  d-bands--top&quot;&gt;
...</code></pre>
    </details>
</div>