<!--

    CONTACT LIST

-->


<h2 id="contact-list">Contact List</h2>

<div class="u-space--below">
    <div>
        <img src="/assets/images/patterns/placeholder-person.jpg" alt="" class="c-contact-avatar  d-border" width="100">
    </div>
    <dl class="c-contact-list" itemscope="itemscope" itemtype="http://schema.org/Person">
        <dt>Name</dt>
        <dd>
            <svg display="none" focusable="false" class="icon" aria-hidden="true"><use xlink:href="#icon-person"></use></svg>
            <a href="https://www.npeu.ox.ac.uk/people/jenny-kurinczuk-659">
                <b><span itemprop="honorificPrefix">Prof</span> <span itemprop="name">Jenny Kurinczuk</span></b>
            </a>
        </dd>
        <dt>Organisation</dt>
        <dd itemprop="worksFor">
            <svg display="none" focusable="false" class="icon" aria-hidden="true"><use xlink:href="#icon-building"></use></svg>
            Policy Research Unit in Maternal Health &amp; Care (PRU-MHC)
        </dd>
        <dt>Address</dt>
        <dd itemprop="streetAddress" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">
            <span itemprop="addressLocality">National Perinatal Epidemiology Unit (NPEU)<br>
            Nuffield Department of Population Health<br>
            University of Oxford<br>
            Old Road Campus</span><br>
            <span itemprop="addressLocality">Oxford</span><br>
            <span itemprop="postalCode">OX3 7LF</span>
        </dd>
        <dt>Email</dt>
        <dd itemprop="email">
            <svg display="none" focusable="false" class="icon" aria-hidden="true"><use xlink:href="#icon-email"></use></svg>
            <span itemprop="email">jenny.kurinczuk@npeu.ox.ac.uk</span>
        </dd>
        <dt>Telephone</dt>
        <dd itemprop="telephone">
            <svg display="none" focusable="false" class="icon" aria-hidden="true"><use xlink:href="#icon-phone"></use></svg>
            01865 289719
        </dd>
        <dt>Fax</dt>
        <dd itemprop="faxNumber">
            <svg display="none" focusable="false" class="icon" aria-hidden="true"><use xlink:href="#icon-fax"></use></svg>
            01865 289701
        </dd>
    </dl>
</div>

<div class="u-padding--s">
    <details class="u-padding  d-background--light">
        <summary>Show code:</summary>
        <pre><code class="html">&lt;div&gt;
    &lt;img src=&quot;/assets/images/patterns/placeholder-person.jpg&quot; alt=&quot;&quot; class=&quot;c-contact-avatar  d-border&quot; width=&quot;100&quot;&gt;
&lt;/div&gt;
&lt;dl class=&quot;c-contact-list&quot; itemscope=&quot;itemscope&quot; itemtype=&quot;http://schema.org/Person&quot;&gt;
    &lt;dt&gt;Name&lt;/dt&gt;
    &lt;dd&gt;
        &lt;svg display=&quot;none&quot; focusable=&quot;false&quot; class=&quot;icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href=&quot;#icon-person&quot;&gt;&lt;/use&gt;&lt;/svg&gt;
        &lt;a href=&quot;https://www.npeu.ox.ac.uk/people/jenny-kurinczuk-659&quot;&gt;
            &lt;b&gt;&lt;span itemprop=&quot;honorificPrefix&quot;&gt;Prof&lt;/span&gt; &lt;span itemprop=&quot;name&quot;&gt;Jenny Kurinczuk&lt;/span&gt;&lt;/b&gt;
        &lt;/a&gt;
    &lt;/dd&gt;
    &lt;dt&gt;Organisation&lt;/dt&gt;
    &lt;dd itemprop=&quot;worksFor&quot;&gt;
        &lt;svg display=&quot;none&quot; focusable=&quot;false&quot; class=&quot;icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href=&quot;#icon-building&quot;&gt;&lt;/use&gt;&lt;/svg&gt;
        Policy Research Unit in Maternal Health &amp;amp; Care (PRU-MHC)
    &lt;/dd&gt;
    &lt;dt&gt;Address&lt;/dt&gt;
    &lt;dd itemprop=&quot;streetAddress&quot; itemscope=&quot;itemscope&quot; itemtype=&quot;http://schema.org/PostalAddress&quot;&gt;
        &lt;span itemprop=&quot;addressLocality&quot;&gt;National Perinatal Epidemiology Unit (NPEU)&lt;br&gt;
        Nuffield Department of Population Health&lt;br&gt;
        University of Oxford&lt;br&gt;
        Old Road Campus&lt;/span&gt;&lt;br&gt;
        &lt;span itemprop=&quot;addressLocality&quot;&gt;Oxford&lt;/span&gt;&lt;br&gt;
        &lt;span itemprop=&quot;postalCode&quot;&gt;OX3 7LF&lt;/span&gt;
    &lt;/dd&gt;
    &lt;dt&gt;Email&lt;/dt&gt;
    &lt;dd itemprop=&quot;email&quot;&gt;
        &lt;svg display=&quot;none&quot; focusable=&quot;false&quot; class=&quot;icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href=&quot;#icon-email&quot;&gt;&lt;/use&gt;&lt;/svg&gt;
        &lt;span itemprop=&quot;email&quot;&gt;jenny.kurinczuk@npeu.ox.ac.uk&lt;/span&gt;
    &lt;/dd&gt;
    &lt;dt&gt;Telephone&lt;/dt&gt;
    &lt;dd itemprop=&quot;telephone&quot;&gt;
        &lt;svg display=&quot;none&quot; focusable=&quot;false&quot; class=&quot;icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href=&quot;#icon-phone&quot;&gt;&lt;/use&gt;&lt;/svg&gt;
        01865 289719
    &lt;/dd&gt;
    &lt;dt&gt;Fax&lt;/dt&gt;
    &lt;dd itemprop=&quot;faxNumber&quot;&gt;
        &lt;svg display=&quot;none&quot; focusable=&quot;false&quot; class=&quot;icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href=&quot;#icon-fax&quot;&gt;&lt;/use&gt;&lt;/svg&gt;
        01865 289701
    &lt;/dd&gt;
&lt;/dl&gt;</code></pre>
    </details>
</div>

<h3 class="u-padding--sides">Contact List - short</h3>

<div class="u-padding--sides  u-space--below">
    <dl class="c-contact-list" itemscope="itemscope" itemtype="http://schema.org/Person">
        <dt>Name</dt>
        <dd>
            <svg display="none" focusable="false" class="icon" aria-hidden="true"><use xlink:href="#icon-person"></use></svg>
            <b><span itemprop="honorificPrefix">Dr.</span> <span itemprop="name">Alexandra Scrivens</span></b>
        </dd>
        <dt>Tel</dt>
        <dd itemprop="telephone">
            <svg display="none" focusable="false" class="icon" aria-hidden="true"><use xlink:href="#icon-phone"></use></svg>
            01865 617928
        </dd>
        <dt>Email</dt>
        <dd itemprop="email">
            <svg display="none" focusable="false" class="icon" aria-hidden="true"><use xlink:href="#icon-email"></use></svg>
            <a href="mailto:alexandra.scrivens@npeu.ox.ac.uk" itemprop="email">alexandra.scrivens@npeu.ox.ac.uk</a>
        </dd>
    </dl>
</div>

<div class="u-padding--s">
    <details class="u-padding  d-background--light">
        <summary>Show code:</summary>
        <pre><code class="html">&lt;dl class=&quot;c-contact-list&quot; itemscope=&quot;itemscope&quot; itemtype=&quot;http://schema.org/Person&quot;&gt;
    &lt;dt&gt;Name&lt;/dt&gt;
    &lt;dd&gt;
        &lt;svg display=&quot;none&quot; focusable=&quot;false&quot; class=&quot;icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href=&quot;#icon-person&quot;&gt;&lt;/use&gt;&lt;/svg&gt;
        &lt;b&gt;&lt;span itemprop=&quot;honorificPrefix&quot;&gt;Dr.&lt;/span&gt; &lt;span itemprop=&quot;name&quot;&gt;Alexandra Scrivens&lt;/span&gt;&lt;/b&gt;
    &lt;/dd&gt;
    &lt;dt&gt;Tel&lt;/dt&gt;
    &lt;dd itemprop=&quot;telephone&quot;&gt;
        &lt;svg display=&quot;none&quot; focusable=&quot;false&quot; class=&quot;icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href=&quot;#icon-phone&quot;&gt;&lt;/use&gt;&lt;/svg&gt;
        01865 617928
    &lt;/dd&gt;
    &lt;dt&gt;Email&lt;/dt&gt;
    &lt;dd itemprop=&quot;email&quot;&gt;
        &lt;svg display=&quot;none&quot; focusable=&quot;false&quot; class=&quot;icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href=&quot;#icon-email&quot;&gt;&lt;/use&gt;&lt;/svg&gt;
        &lt;a href=&quot;mailto:alexandra.scrivens@npeu.ox.ac.uk&quot; itemprop=&quot;email&quot;&gt;alexandra.scrivens@npeu.ox.ac.uk&lt;/a&gt;
    &lt;/dd&gt;
&lt;/dl&gt;</code></pre>
    </details>
</div>