<!--

    CALL TO ACTION

-->


<h2 id="call-to-action">Call to Action (CTA)</h2>

<p>The CTA is a prominent <strong>link</strong>. It's NOT a button. It looks a bit like a button but it's a link.</p>


<h3>CTA - standard</h3>

<p class="u-padding--s  u-block-center">
    <a href="#" class="c-cta">
        Call to Action
    </a>
</p>

<div>
    <details class="u-padding  d-background--light">
        <summary>Show code:</summary>
        <pre><code class="html">&lt;a href=&quot;#&quot; class=&quot;c-cta&quot;&gt;
    Call to Action
&lt;/a&gt;</code></pre>
    </details>
</div>


<h3>CTA - with icon</h3>

<p class="u-padding--s  u-block-center">
    <a href="#" class="c-cta">
        Call to Action<svg focusable="false" aria-hidden="true" width="1.25em" height="1.25em"><use xlink:href="#icon-chevron-right"></use></svg>
    </a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#" class="c-cta">
        <svg focusable="false" aria-hidden="true" width="1.25em" height="1.25em"><use xlink:href="#icon-search"></use></svg>&nbsp;Search
    </a>
</p>

<p>Note that some icons fill their 'square' better than others, so it's not possible to use CSS to 'nicely' space icons from the text, so in the Search example above a <code>&amp;nbsp;</code> is placed between the icon and the text.</p>

<div>
    <details class="u-padding  d-background--light">
        <summary>Show code:</summary>
        <pre><code class="html">&lt;a href=&quot;#&quot; class=&quot;c-cta&quot;&gt;
    Call to Action&lt;svg focusable=&quot;false&quot; aria-hidden=&quot;true&quot; width=&quot;1.25em&quot; height=&quot;1.25em&quot;&gt;&lt;use xlink:href=&quot;#icon-chevron-right&quot;&gt;&lt;/use&gt;&lt;/svg&gt;
&lt;/a&gt;
...
&lt;a href=&quot;#&quot; class=&quot;c-cta&quot;&gt;
    &lt;svg focusable=&quot;false&quot; aria-hidden=&quot;true&quot; width=&quot;1.25em&quot; height=&quot;1.25em&quot;&gt;&lt;use xlink:href=&quot;#icon-search&quot;&gt;&lt;/use&gt;&lt;/svg&gt;&amp;nbsp;Search
&lt;/a&gt;</code></pre>
    </details>
</div>