<!--

    EVENT

-->


<h2 id="event">Event</h2>

<div class="u-space--below">
    <div class="c-event">
        <h3 class="c-event__title">Using qualitative research to shape, inform, and implement global guidelines in maternity care</h3>
        <p class="c-event__speaker">
            Professor Soo Downe
        </p>
        <p class="c-event__speaker-role">
            Professor of Midwifery Studies, University of Central Lancaster
        </p>
        <p class="c-event__datetime">
            February: Tue 26<sup>th</sup> 14:30 &ndash; 15:30
        </p>
        <a href="#" class="c-event__action  c-cta">+ Add <span hidden="" aria-hidden="false">Using qualitative research to shape, inform, and implement global guidelines in maternity care by Professor Soo Downe </span>to Calendar</a>
    </div>
</div>

<div class="u-padding--s">
    <details class="u-padding  d-background--light">
        <summary>Show code:</summary>
        <pre><code class="html">&lt;div class=&quot;c-event&quot;&gt;
    &lt;h3 class=&quot;c-event__title&quot;&gt;Using qualitative research to shape, inform, and implement global guidelines in maternity care&lt;/h3&gt;
    &lt;p class=&quot;c-event__speaker&quot;&gt;
        Professor Soo Downe
    &lt;/p&gt;
    &lt;p class=&quot;c-event__speaker-role&quot;&gt;
        Professor of Midwifery Studies, University of Central Lancaster
    &lt;/p&gt;
    &lt;p class=&quot;c-event__datetime&quot;&gt;
        February: Tue 26&lt;sup&gt;th&lt;/sup&gt; 14:30 &amp;ndash; 15:30
    &lt;/p&gt;
    &lt;a href=&quot;#&quot; class=&quot;c-event__action  c-cta&quot;&gt;+ Add to Calendar&lt;/a&gt;
&lt;/div&gt;</code></pre>
    </details>
</div>

<h3>Cancelled event</h3>

<article class="c-event  c-event--cancelled  d-background--light  t-neutral">
    <h3 class="c-event__title"><strong>CANCELLED:</strong> Title TBC</h3>
    <p class="c-event__speaker">
        Professor Jane Hirst
    </p>
    <p class="c-event__speaker-role">
        Senior Fellow in Perinatal Health and Consultant Obstetrician, University of Oxford
    </p>
    <p class="c-event__datetime">
        January: Mon 27th 10:30 – 11:30
    </p>
</article>

<div class="u-padding--s">
    <details class="u-padding  d-background--light">
        <summary>Show code:</summary>
        <pre><code class="html">&lt;article class=&quot;c-event  <b>c-event--cancelled  d-background--light  t-neutral</b>&quot;&gt;
    &lt;h3 class=&quot;c-event__title&quot;&gt;<b>&lt;strong&gt;CANCELLED:&lt;/strong&gt;</b> ...&lt;/h3&gt;
    ...
&lt;/article&gt;</code></pre>
    </details>
</div>