<!--

    LINKS LIST

-->

<h2 id="links-list">Links List NOT DONE</h2>

<p>
    Note, there's nothing special about this pattern (no specific CSS). It may not actually be needed, but keep for now.
</p>

<div class="u-space--below" style="max-width: 100%; width: calc((40em - 100%) * 1000); min-width: 33%;">
    <div class="n-links-list">
        <h3>List title</h3>

        <ul>
            <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></li>
            <li><a href="#">Vivamus vitae elit vel mauris aliquam commodo a ut lorem</a></li>
            <li><a href="#">Maecenas velit leo, dictum a consectetur accumsan, ornare in tortor</a></li>
            <li><a href="#">Praesent in hendrerit lectus</a></li>
            <li><a href="#">Maecenas consequat imperdiet massa egestas commodo</a></li>
            <li><a href="#">Sed facilisis, risus sed accumsan tristique, nisi velit porttitor nibh, nec bibendum ex sapien eu lorem</a></li>
        </ul>
    </div>
</div>
