<!--

    MENU

-->

<h2 id="menu">Menu</h2>

<div class="u-space--below" style="max-width: 100%; width: calc((40em - 100%) * 1000); min-width: 40%;">
    <nav class="n-menu">
        <h3 class="n-menu__title">In this section</h3>

        <ul class="n-menu__links">
            <li><a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span></a></li>
            <li><a href="#"><span>Vivamus vitae elit vel mauris aliquam commodo a ut lorem</span></a></li>
            <li><a href="#"><span>Maecenas velit leo, dictum a consectetur accumsan, ornare in tortor</span></a></li>
            <li aria-current="page" class="d-background--very-light"><a><span>Praesent in hendrerit lectus</span></a></li>
            <li><a href="#"><span>Maecenas consequat imperdiet massa egestas commodo</span></a></li>
            <li><a href="#"><span>Sed facilisis, risus sed accumsan tristique, nisi velit porttitor nibh, nec bibendum ex sapien eu lorem</span></a></li>
        </ul>
    </nav>
</div>

<div class="u-padding--s">
    <details class="u-padding  d-background--light">
        <summary>Show code:</summary>
        <pre><code class="html">&lt;nav class=&quot;n-menu&quot;&gt;
    &lt;h3 class=&quot;n-menu__title&quot;&gt;In this section&lt;/h3&gt;

    &lt;ul class=&quot;n-menu__links&quot;&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;span&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;span&gt;Vivamus vitae elit vel mauris aliquam commodo a ut lorem&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;span&gt;Maecenas velit leo, dictum a consectetur accumsan, ornare in tortor&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
        &lt;li aria-current=&quot;page&quot; class=&quot;d-background--very-light&quot;&gt;&lt;a&gt;&lt;span&gt;Praesent in hendrerit lectus&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;span&gt;Maecenas consequat imperdiet massa egestas commodo&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;span&gt;Sed facilisis, risus sed accumsan tristique, nisi velit porttitor nibh, nec bibendum ex sapien eu lorem&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/nav&gt;</code></pre>
    </details>
</div>

<div class="u-space--below" style="max-width: 100%; width: calc((40em - 100%) * 1000); min-width: 40%;">
    <nav class="n-menu">
        <h3 class="n-menu__title">On this page</h3>

        <ul class="n-menu__links">
            <li><a href="#"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span></a></li>
            <li><a href="#"><span>Vivamus vitae elit vel mauris aliquam commodo a ut lorem</span></a></li>
            <li><a href="#"><span>Maecenas velit leo, dictum a consectetur accumsan, ornare in tortor</span></a></li>
             <li><a href="#"><span>Sed facilisis, risus sed accumsan tristique, nisi velit porttitor nibh, nec bibendum ex sapien eu lorem</span></a></li>
        </ul>
    </nav>
</div>