<!--

    PAGINATION

-->

<h2 id="pagination">Pagination</h2>

<div class="u-space--below">

    <nav aria-label="Pagination" class="l-layout  l-row  l-row--center  n-pagination">
        <p class="l-layout__inner">
            <span class="l-box  n-pagination__start-links">
                <span class="l-layout  l-row  l-row--center">
                    <span class="l-layout__inner">
                        <span class="l-box">
                            <a aria-hidden="true"><svg focusable="false" aria-hidden="true" width="1.25em" height="1.25em"><use xlink:href="#icon-chevrons-left"></use></svg><span>First<span data-hidden="visually">&nbsp;page.</span></span></a><span class="l-box__separator">&nbsp;&nbsp;|&nbsp;</span>
                        </span>
                        <span class="l-box">
                            <a aria-hidden="true" rel="prev"><svg focusable="false" aria-hidden="true" width="1.25em" height="1.25em"><use xlink:href="#icon-chevron-left"></use></svg><span>Previous<span data-hidden="visually">&nbsp;page.</span></span></a><span class="l-box__separator">&nbsp;&nbsp;|&nbsp;</span>
                        </span>
                    </span>
                </span>
            </span>

            <span role="list" class="l-box  n-pagination__page-links">
                <span class="l-layout  l-row  l-row--center">
                    <span class="l-layout__inner">
                        <span role="listitem" class="l-box">
                            <a aria-current="page">1</a><span class="l-box__separator">&nbsp;&nbsp;|&nbsp;</span>
                        </span>
                        <span role="listitem" class="l-box">
                            <a href="#"><span data-hidden="visually">Page&nbsp;</span>2</a><span class="l-box__separator">&nbsp;&nbsp;|&nbsp;</span>
                        </span>
                        <span role="listitem" class="l-box">
                            <a href="#"><span data-hidden="visually">Page&nbsp;</span>3</a><span class="l-box__separator">&nbsp;&nbsp;|&nbsp;</span>
                        </span>
                        <span role="listitem" class="l-box">
                            <a href="#"><span data-hidden="visually">Page&nbsp;</span>4</a><span class="l-box__separator">&nbsp;&nbsp;|&nbsp;</span>
                        </span>
                        <span role="listitem" class="l-box">
                            <a href="#"><span data-hidden="visually">Page&nbsp;</span>5</a><span class="l-box__separator">&nbsp;&nbsp;|&nbsp;</span>
                        </span>
                    </span>
                </span>
            </span>

            <span class="l-box  n-pagination__end-links">
                <span class="l-layout  l-row  l-row--center">
                    <span class="l-layout__inner">
                        <span class="l-box">
                            <a href="#" rel="next"><span>Next<span data-hidden="visually">&nbsp;page.</span></span><svg focusable="false" aria-hidden="true" width="1.25em" height="1.25em"><use xlink:href="#icon-chevron-right"></use></svg></a><span class="l-box__separator">&nbsp;&nbsp;|&nbsp;</span>
                        </span>
                        <span class="l-box">
                            <a href="#"><span>Last<span data-hidden="visually">&nbsp;page.</span></span><svg focusable="false" aria-hidden="true" width="1.25em" height="1.25em"><use xlink:href="#icon-chevrons-right"></use></svg></a>
                        </span>
                    </span>
                </span>
            </span>
        </p>
    </nav>
</div>

<div class="u-space--below">

    <nav aria-label="Pagination" class="l-layout  l-row  l-row--center  n-pagination">
        <p class="l-layout__inner">
            <span class="l-box  n-pagination__start-links">
                <span class="l-layout  l-row  l-row--center">
                    <span class="l-layout__inner">
                        <span class="l-box">
                            <a href="#"><svg focusable="false" aria-hidden="true" width="1.25em" height="1.25em"><use xlink:href="#icon-chevrons-left"></use></svg><span>First<span data-hidden="visually">&nbsp;page.</span></span></a><span class="l-box__separator">&nbsp;&nbsp;|&nbsp;</span>
                        </span>
                        <span class="l-box">
                            <a href="#" rel="prev"><svg focusable="false" aria-hidden="true" width="1.25em" height="1.25em"><use xlink:href="#icon-chevron-left"></use></svg><span>Previous<span data-hidden="visually">&nbsp;page.</span></span></a><span class="l-box__separator">&nbsp;&nbsp;|&nbsp;</span>
                        </span>
                    </span>
                    </span>
                </span>
            </span>

            <span role="list" class="l-box  n-pagination__page-links">
                <span class="l-layout  l-row  l-row--center">
                    <span class="l-layout__inner">
                        <span role="listitem" class="l-box">
                            <a href="#"><span data-hidden="visually">Page&nbsp;</span>1</a><span class="l-box__separator">&nbsp;&nbsp;|&nbsp;</span>
                        </span>
                        <span role="listitem" class="l-box">
                            <a href="#"><span data-hidden="visually">Page&nbsp;</span>2</a><span class="l-box__separator">&nbsp;&nbsp;|&nbsp;</span>
                        </span>
                        <span role="listitem" class="l-box">
                            <a aria-current="page">3</a><span class="l-box__separator">&nbsp;&nbsp;|&nbsp;</span>
                        </span>
                        <span role="listitem" class="l-box">
                            <a href="#"><span data-hidden="visually">Page&nbsp;</span>4</a><span class="l-box__separator">&nbsp;&nbsp;|&nbsp;</span>
                        </span>
                        <span role="listitem" class="l-box">
                            <a href="#"><span data-hidden="visually">Page&nbsp;</span>5</a><span class="l-box__separator">&nbsp;&nbsp;|&nbsp;</span>
                        </span>
                    </span>
                </span>
            </span>

            <span class="l-box  n-pagination__end-links">
                <span class="l-layout  l-row  l-row--center">
                    <span class="l-layout__inner">
                        <span class="l-box">
                            <a href="#" rel="next"><span>Next<span data-hidden="visually">&nbsp;page.</span></span><svg focusable="false" aria-hidden="true" width="1.25em" height="1.25em"><use xlink:href="#icon-chevron-right"></use></svg></a><span class="l-box__separator">&nbsp;&nbsp;|&nbsp;</span>
                        </span>
                        <span class="l-box">
                            <a href="#"><span>Last<span data-hidden="visually">&nbsp;page.</span></span><svg focusable="false" aria-hidden="true" width="1.25em" height="1.25em"><use xlink:href="#icon-chevrons-right"></use></svg></a>
                        </span>
                    </span>
                </span>
            </span>
        </p>
    </nav>
</div>

<h3 id="article-navigation">Article Navigation</h3>

<div class="u-space--below">

    <nav aria-label="Pagination" class="l-layout  l-row  l-row--push-apart  n-pagination">
        <p class="l-layout__inner">
            <span class="l-box">
                <a href="#" rel="next"><svg focusable="false" aria-hidden="true" width="1.25em" height="1.25em"><use xlink:href="#icon-chevron-left"></use></svg><span>Newer article</span></a><span class="l-box__separator">&nbsp;&nbsp;|&nbsp;</span>
            </span>
            <span class="l-box">
                <a href="#" rel="next"><span>Older article</span><svg focusable="false" aria-hidden="true" width="1.25em" height="1.25em"><use xlink:href="#icon-chevron-right"></use></svg></a>
            </span>
        </p>
    </nav>

</div>