<!--

    PAGINATION

-->

<h2 id="pagination">Pagination NOT DONE</h2>

<div class="u-space--below">    
    <div class="n-pagination">
        <p role="list" class="n-pagination__list">
            <span role="listitem" class="n-pagination__item"><span class="n-pagination__link"><span>First</span></span></span>
            <span role="listitem" class="n-pagination__item"><span class="n-pagination__link"><span>Prev</span></span></span>
            <span role="listitem" class="n-pagination__item  n-pagination__item--active"><span class="n-pagination__link"><span>1</span></span></span>
            <span role="listitem" class="n-pagination__item"><a href="#" class="n-pagination__link"><span>2</span></a></span>
            <span role="listitem" class="n-pagination__item"><a href="#" class="n-pagination__link"><span>3</span></a></span>
            <span role="listitem" class="n-pagination__item"><a href="#" class="n-pagination__link"><span>Next</span></a></span>
            <span role="listitem" class="n-pagination__item"><a href="#" class="n-pagination__link"><span>Last</span></a></span>
        </p>
    </div>
</div>

<h3 id="article-navigation">Article Navigation</h3>

<div class="u-space--below">
    <div class="n-pagination">
        <p role="list" class="n-pagination__list  n-pagination__list--push-apart">
            <span role="listitem" class="n-pagination__item">
                <a class="n-pagination__link" aria-label="Newer article: Bradford start recruiting" href="/neoclear/updates/1681-bradford-start-recruiting" rel="prev">
                    <span aria-hidden="true"><svg display="none" focusable="false" class="icon" aria-hidden="true"><use xlink:href="#icon-chevron-left"></use></svg>Newer article</span>
                </a>
            </span>
            <span role="listitem" class="n-pagination__item">
                <a class="n-pagination__link" aria-label="Older article: Congratulations to St. Peter's Hospital, Chertsey" href="/neoclear/updates/1672-congratulations-to-st-peter-s-hospital-chertsey" rel="next">
                    <span aria-hidden="true">Older article<svg display="none" focusable="false" class="icon" aria-hidden="true"><use xlink:href="#icon-chevron-right"></use></svg></span>
                </a>
            </span>
        </p>
    </div>
</div>