<!--

    SECTION MENU

-->

<h2 id="section-menu">Section Menu NOT DONE</h2>

<div class="u-space--below" style="max-width: 100%; width: calc((40em - 100%) * 1000); min-width: 33%;">
    <div class="n-section-menu">
        <h3 class="n-section-menu__title">Menu Title</h3>

        <ul class="n-section-menu__list">
            <li class="n-section-menu__item"><a href="#" class="n-section-menu__link"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span></a></li>
            <li class="n-section-menu__item"><a href="#" class="n-section-menu__link"><span>Vivamus vitae elit vel mauris aliquam commodo a ut lorem</span></a></li>
            <li class="n-section-menu__item"><a href="#" class="n-section-menu__link"><span>Maecenas velit leo, dictum a consectetur accumsan, ornare in tortor</span></a></li>
            <li class="n-section-menu__item  n-section-menu__item--active"><a href="#main" class="n-section-menu__link"><span>Praesent in hendrerit lectus</span></a></li>
            <li class="n-section-menu__item"><a href="#" class="n-section-menu__link"><span>Maecenas consequat imperdiet massa egestas commodo</span></a></li>
            <li class="n-section-menu__item"><a href="#" class="n-section-menu__link"><span>Sed facilisis, risus sed accumsan tristique, nisi velit porttitor nibh, nec bibendum ex sapien eu lorem</span></a></li>
        </ul>
    </div>
</div>