/* --| SETTINGS |-------------------------------------------------------------------------------- */

// NOTE - Needs an overhaul because of updated StartCSS

//@import "_settings.scss";
/*@import "_core_themes.scss";

$theme-map: ($theme-name: $theme);
$themes: map-merge($themes, $theme-map);
*/

$s__base-background-color: #fff;
$s__main-background-color: #fff;

//$s__use-layout: true;
$s__use-last-child-margin-zero: true;
//$s__procedural-margins: false;
//$s__zero-header-hx-margin: true;
$s__space_dl_groups: true;

$s__text_zoom_scales_all: true;


$s__border-width: 0.1rem;
$s__border-radius: 0.3rem;

$s__focus-outline-width: 0.2rem;
$s__focus-outline-offset: 0.2rem;

$s__anchor-border-bottom-width: 0.2rem;
$s__anchor-focus-shadow-width: 0.3rem;

$s__button-focus-shadow-width: 0.3rem;

$s__input-focus-shadow-width: 0.3rem;

$s__select-focus-shadow-width: 0.3rem;

$s__textarea-focus-shadow-width: 0.3rem;

$s__figure-scroll: true;




$s__anchor-text-color: inherit;
$s__anchor-text-color--alt: $s__anchor-text-color;






/*
//@debug $s__base-ui-color;

$s__html-background-color: darken(map-get(map-get($themes, neutral), primary-color), 20%);

$s__body-padding: 0;
$s__main-max-line-length: 0;
$s__main-padding: 0;

$s__anchor-text-color: #333;

// I shouldn't have to set this as the !default should allow a cascade.
// Investigate why this is happening. I don't think it's a SASS problem as it seems to work in a
// reduced test-case (though to be fair this isn't using @import...)
// https://codepen.io/akirk/pen/RmWKgy
$s__anchor-text-color--alt: #333;



$s__selection-background-color: lighten(map-get(map-get($themes, neutral), primary-color), 10%) !default;
$s__experimental_checkradios: true;


$s__class-namespace: c-;
$fs__include_class_bordered: false;
$fs__include_class_padded:   false;
$fs__include_class_poem:     false;
*/
//@import '../bower_components/Fall-Back-Start-CSS/scss/_start_settings.scss';
//@import '../bower_components/Fall-Back-Start-CSS/scss/_start_functions.scss';
//@import '../bower_components/Fall-Back-Start-CSS/scss/_start_mixins.scss';
@import '../bower_components/Fall-Back-Start-CSS/scss/_start.scss';
@import '../bower_components/Fall-Back-Start-CSS/scss/_start-classes.scss';
@import '../bower_components/Fall-Back-Start-CSS/scss/_start-accessibility.scss';
//@import '../bower_components/Fall-Back-Start-CSS/scss/_Xstart-utilities.scss';
@import '../bower_components/Fall-Back-Start-CSS/scss/_Xstart-icons.scss';
@import '../bower_components/Fall-Back-Start-CSS/scss/_start-experimental.scss';



