    <nav aria-label="Breadcrumbs" class="u-text-group">
        <p class="n-breadcrumbs__title">You are here: </p>
        <p role="list" class="n-breadcrumbs" itemscope="" itemtype="https://schema.org/BreadcrumbList">
            <span role="listitem" class="n-breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                <a class="n-breadcrumbs__link" itemprop="item" href="/"><span itemprop="name">Home</span></a>

                <meta itemprop="position" content="1">
                <span data-if-css="hide"> / </span>
            </span>
            {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
            {% for crumb in crumbs offset: 1 %}
            <span role="listitem" class="n-breadcrumbs__item" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                {% if forloop.last %}
                    <a class="n-breadcrumbs__link" itemprop="name" aria-current="page"><span>{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</span></a>
                    <meta itemprop="position" content="{{ forloop.index | plus: 1 }}">
                {% else %}
                    <a class="n-breadcrumbs__link" itemprop="item" href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}"><span itemprop="name">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</span></a>
                    <meta itemprop="position" content="{{ forloop.index | plus: 1 }}">
                    <span data-if-css="hide"> / </span>
                {% endif %}
            </dd>
            {% endfor %}
        </p>
    </nav>
