{% if include.title and include.url %}
<article class="c-card{% if include.unpublished | default: false %}  c-card--unpublished{% endif %}  d-border  d-background">
    <div data-fs-block="border">
        <header class="c-card__header">
            <h{{ include.hx | default: 3 }} class="c-card__title"><a href="{{ include.url }}">{{ include.title }}</a></h{{ include.hx | default: 3 }}>
            {% if include.img_src %}
            <div class="c-card__image  l-box">
                <div class="u-image-cover  js-image-cover  u-image-cover--min-{{ include.img_ratio | default: '56-25' }}">
                    <div class="u-image-cover__inner">
                        <img src="{{ include.img_src }}--small.jpg" sizes="100vw" srcset="{{ include.img_src }}--large.jpg 1600w, {{ include.img_src }}--medium.jpg 900w, /assets/images/patterns/{{ include.img_src }}--small.jpg 300w" alt="{{ include.img_alt | default: '' }}" class="u-image-cover__image" width="{{ include.img_w | default: 200 }}" height="{{ include.img_h | default: 133 }}">
                    </div>
                </div>
            </div>
            {% endif %}
            {% if include.header_extra %}
            <div class="c-card__header-extra">
                {{ include.header_extra }}
            </div>
            {% endif %}
        </header>
        {% if include.content %}
        <div class="c-card__body">
            {{ include.content }}
        </div>
        {% endif %}
        
        {% if include.footer or (include.url and include.cta) %}
        <div class="c-card__footer">
            {% if include.url and include.cta %}
            <div class="layout  l-row  l-row--end">
                <p class="l-layout__inner">
                    <b><a href="{{ include.url }}" class="c-cta">{{ include.cta }}<svg focusable="false" aria-hidden="true" width="1.25em" height="1.25em"><use xlink:href="#icon-chevron-right"></use></a></b>
                </p>
            </div>
            {% endif %}
            {% if include.footer %}
            <footer>
                {{ include.footer }}
            </footer>
            {% endif %}
            </div>
        {% endif %}
    </div>
</article>
{% else %}
<p><strong>Error:</strong> Cards need a title and a url.</p>
{% endif %}