            <div class="nav-bar  u-padding--sides--s  {{ project_data.theme_class }}">

                <div class="nav-bar__start">
                    <div class="nav-bar__item">
                        <button class="over-panel-control  {{ project_data.theme_class }}" hidden aria-controls="menu-panel" aria-label="Main menu" aria-expanded="false" data-js="overpanel__control"><svg display="none" class="icon  icon--is-closed"><use xlink:href="#icon-menu"></use></svg><svg display="none" class="icon  icon--is-open"><use xlink:href="#icon-cross"></use></svg></button>
                    </div>
                    <div class="nav-bar__item">
                        <button class="over-panel-control  {{ project_data.theme_class }}" hidden aria-controls="search-panel" aria-label="Search" aria-expanded="false" data-js="overpanel__control"><svg display="none" class="icon  icon--is-closed"><use xlink:href="#icon-search"></use></svg><svg display="none" class="icon  icon--is-open"><use xlink:href="#icon-cross"></use></svg></button>
                    </div>
                </div>

                <nav class="nav-bar__main">

                    <div class="over-panel  over-panel--fade" id="menu-panel" data-js="over-panel">
                        <button class="over-panel__overlay  {{ project_data.theme_class }}" hidden aria-hidden="true" tabindex="-1" data-js="over-panel__overlay"></button>
                        <div class="over-panel__contents  {{ project_data.theme_class }}" data-js="over-panel__contents">


                            <ul class="nav-bar__items">
                                <li class="nav-bar__item">

                                    <a href="/{{ page.project }}#main" class="nav-bar__link"><span>Themes</span></a>

                                    <div class="dropdown  dropdown--only-wide">
                                        <button id="themes-sub-menu" class="dropdown__button  {{ project_data.theme_class }}" data-js="dropdown__button" hidden aria-label="Themes sub-menu" aria-expanded="false"><svg display="none" class="icon  icon--is-closed"><use xlink:href="#icon-chevron-down"></use></svg><svg display="none" class="icon  icon--is-open"><use xlink:href="#icon-chevron-up"></use></svg></button>

                                        <div class="dropdown__area" id="themes-sub-menu--target">
                                            <ul class="subnav__items  subnav__items--stacked--only-wide  t-{{ page.project }}">
                                                <li class="subnav__item"><a href="#main" class="subnav__link" data-js="dropdown__focus-start"><span>Theme 1: Pre-conception health and prevention across the maternity pathway</span></a></li>
                                                <li class="subnav__item"><a href="#main" class="subnav__link"><span>Theme 2: Pregnancy loss and perinatal morbidity and mortality</span></a></li>
                                                <li class="subnav__item"><a href="#main" class="subnav__link"><span>Theme 3: Maternal health outcomes and experience of care</span></a></li>
                                                <li class="subnav__item"><a href="#main" class="subnav__link"><span>Theme 4: Neonatal care</span></a></li>
                                                <li class="subnav__item"><a href="#main" class="subnav__link"><span>Theme 5: Health systems</span></a></li>
                                            </ul>
                                        </div>
                                    </div>

                                </li>

                                <li class="nav-bar__item"><a href="/{{ page.project }}/team" class="nav-bar__link"><span>Research Team</span></a></li>

                                <li class="nav-bar__item"><a href="/{{ page.project }}/pppi" class="nav-bar__link"><span>PPPI</span></a></li>

                            </ul>

                        </div>
                    </div>

                </nav>

                <div class="nav-bar__end">
                    <div class="over-panel  over-panel--fade" id="search-panel" data-js="over-panel">
                        <button class="over-panel__overlay  {{ project_data.theme_class }}" hidden aria-hidden="true" tabindex="-1" data-js="over-panel__overlay"></button>
                        <div class="over-panel__contents  {{ project_data.theme_class }}" data-js="over-panel__contents">
                            <form action="#search" id="searchform" class="search-form  search-form---restrict-width  {{ project_data.theme_class }}  u-space--left--auto" method="GET">
                                <input type="search" class="search-form__field" id="search" placeholder="Search" name="s" value="" aria-label="Search" />
                                <button class="search-form__submit" type="submit">
                                    <span>
                                        <svg width="20" height="20" viewBox="0 0 20 20">
                                            <path fill="#ffffff" d="M12.917 11.667h-0.662l-0.229-0.229c0.817-0.946 1.308-2.175 1.308-3.521 0-2.992-2.425-5.417-5.417-5.417s-5.417 2.425-5.417 5.417 2.425 5.417 5.417 5.417c1.346 0 2.575-0.492 3.521-1.304l0.229 0.229v0.658l4.167 4.158 1.242-1.242-4.158-4.167zM7.917 11.667c-2.071 0-3.75-1.679-3.75-3.75s1.679-3.75 3.75-3.75 3.75 1.679 3.75 3.75-1.679 3.75-3.75 3.75z"></path>
                                            <text y="-10">Search</text>
                                        </svg>
                                    </span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
