                        <div class="u-text-align--center  u-fill-width  u-space--below">
                            <div>
                                <a href="https://www.nihr.ac.uk/funding-and-support/funding-for-research-studies/funding-programmes/health-technology-assessment/" class="c-badge" rel="external noopener noreferrer" target="_blank">
                                    <img src="/assets/images/brand-logos/affiliate/nihr-logo.svg" onerror="this.src='/assets/images/brand-logos/affiliate/nihr-logo.png'; this.onerror=null;" alt="Logo: NIHR - National Institute of Health Research" height="80">
                                </a>
                            </div>
						</div>
						<p>
							<small>
                                This study/project is funded by the National Institute for Health Research (NIHR) [name of NIHR programme (Grant Reference NumberXXX)/name of part of the NIHR].
                                The viewse xpressed are those of the author(s) and not necessarily those of the NIHR or the Department of Health and Social Care.
                            </small>
						</p>