                    <div class="c-panel__banner">
                        <div class="l-proportional-container  l-proportional-container--2-1  l-proportional-container--4-1--wide">
                            <div class="l-proportional-container__content">
                                <div class="u-image-cover  js-image-cover">
                                    <div class="u-image-cover__inner">
                                        <img class="u-image-cover__image" src="/img/frosttie/hero-image-old-road-campus-sign.jpg" alt="" width="600">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <aside class="c-panel__module">
                    
                        <h2>Contact Us</h2>
                        <p>For more information about FROSTTIE, please view the <a href="">contact details page</a></p>

                    </aside>