                    <section class="c-panel__module">
                    
                        <header class="u-text-group  u-text-group--push-apart  u-space--below">
                            <h2>Latest Update</h2>
                            <p><a href="/{{ page.project }}/updates" class="cta  cta--has-icon">See all updates<svg display="none" class="icon" aria-hidden="true"><use xlink:href="#icon-chevron-right"></use></svg></a></p>
                        </header>

                        <article class="c-card  t-frosttie">
                            <a href="#news1" class="c-card__full-link  t-frosttie  u-fill-height--column">
                                <div class="c-card__image">
                                    <div class="l-proportional-container  l-proportional-container--2-1">
                                        <div class="l-proportional-container__content">
                                            <div class="u-image-cover  js-image-cover">
                                                <div class="u-image-cover__inner">
                                                    <img src="/img/centres/royal-cornwall-hospital.jpg" alt="" class="u-image-cover__image" width="150">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="c-card__main">
                                    <h2 class="c-card__title">Royal Cornwall Hospital start recruitment</h2>
                                    <div class="c-card__footer">
                                        <p>
                                            12 April 2019
                                        </p> 
                                    </div>
                                    <!--<div class="c-card__footer  u-text-align--right">
                                        <a href="#" class="cta  cta--has-icon">Read<svg display="none" class="icon" aria-hidden="true"><use xlink:href="#icon-chevron-right"></use></svg></a>
                                    </div>-->
                                </div>
                            </a>
                        </article>                      
                    
                    </section>