                <aside class="c-panel__module" aria-labelledby="in-this-section">
                    <div class="n-section-menu">
                        <h2 class="n-section-menu__title" id="in-this-section">In this section</h2>
                        <!--  n-section-menu__item--active #main -->
                        <ul class="n-section-menu__list">
                            <li class="n-section-menu__item"><a href="/neoclear/clinicians/lp-training" class="n-section-menu__link"><span>LP Training</span></a></li>
                            <li class="n-section-menu__item"><a href="/neoclear/clinicians/randomisation-and-openclinica-training" class="n-section-menu__link"><span>Randomisation and OpenClinica Training</span></a></li>
                            <li class="n-section-menu__item"><a href="/neoclear/clinicians/guidance-sheets" class="n-section-menu__link"><span>Guidance Sheets</span></a></li>
                            <li class="n-section-menu__item"><a href="/neoclear/clinicians/ata-collection-forms" class="n-section-menu__link"><span>Data Collection Forms</span></a></li>
                            <li class="n-section-menu__item"><a href="/neoclear/clinicians/faqs" class="n-section-menu__link"><span>FAQ's</span></a></li>
                        </ul>
                    </div>
                </aside>