<div class="c-panel  c-panel--very-light  t-neutral  u-space--above  u-space--above">
    <section class="c-panel__module">
        <h2>Parent Information Leaflet</h2>
        <p class="u-text-align--center  u-space--above">
            <a href="/downloads/files/neoclear/parents/NeoCLEAR%20PIL%20v1%20-%2028-Mar-2018.pdf" type="application/pdf" class="c-thumbnail  c-thumbnail--medium">
                <img src="/downloads/thumbs/1877/medium-NeoCLEAR%20PIL%20v1%20-%2028-Mar-2018.png" alt="">
            </a>
        </p>
    </section>
</div>
