                <section class="c-panel__module">
                    <h2>Support</h2>

                    <div class="l-distribute-wrap">
                        <div class="l-distribute">

                            <div class="u-padding--s  l-center">
                                <a href="http://www.ssnap.org.uk" class="c-badge" rel="external noopener noreferrer" target="_blank">
                                    <img src="/assets/images/brand-logos/affiliate/ssnap-logo.svg" onerror="this.src='/assets/images/brand-logos/affiliate/ssnap-logo.png'; this.onerror=null;" alt="Logo: SSNAP" height="80">
                                </a>
                            </div>

                            <div class="u-padding--s  l-center">
                                <a href="https://www.bliss.org.uk" class="c-badge" rel="external noopener noreferrer" target="_blank">
                                    <img src="/assets/images/brand-logos/affiliate/bliss-logo.svg" onerror="this.src='/assets/images/brand-logos/affiliate/bliss-logo.png'; this.onerror=null;" alt="Logo: BLISS" height="80">
                                </a>
                            </div>

                        </div>
                    </div>

                </section>