                <div class="l-col-to-row__item  ff-width-100--40--50">
                    <div class="c-panel  t-white  u-fill-height">
                        <section class="c-panel__module">
                            <h2>Trial Information</h2>
                            <div class="u-space--below">
                                <dl class="dl-2-col">
                                    <dt>REC Reference:</dt>
                                    <dd>18/SC/0580</dd>
                                    <dt>ISRCTN:</dt>
                                    <dd>14040914</dd>
                                    <dt>Clinical Trials Unit:</dt>
                                    <dd>National Perinatal Epidemiology Unit CTU</dd>
                                    <dt>Sponsor:</dt>
                                    <dd>University of Oxford</dd>
                                    <dt>Funder:</dt>
                                    <dd>NIHR Health Technology Assessment (HTA) Programme</dd>
                                    <dt>Recruitment Target:</dt>
                                    <dd>870</dd>
                                    <dt>Duration of Study:</dt>
                                    <dd>April 2018 - March 2021</dd>
                                </dl>
                            </div>
                        </section>
                    </div>
                </div>