<div class="c-panel  c-panel--very-light  t-neutral  u-space--above  u-space--above">
    <aside class="c-panel__module" aria-labelledby="find-us">
        <header class="u-text-group  u-text-group--push-apart  u-space--below">
            <h2 id="find-us">Find us</h2>
            <p><a href="https://www.npeu.ox.ac.uk/find-us" class="cta  cta--has-icon">Find out more<svg display="none" class="icon" aria-hidden="true"><use xlink:href="#icon-chevron-right"></use></svg></a></p>
        </header>
        <div class="u-space--below d-bands">
            <div class="c-map  c-map--300" id="find-us-map">
                <p class="u-text-align--center">
                    <img src="https://api.mapbox.com/styles/v1/mapbox/streets-v10/static/-1.21574715729,51.751613839,13,0,0/600x600?access_token=pk.eyJ1IjoiYW5keWtraXJrIiwiYSI6ImNqbGh3a3FnbzA1aDMza204eDJnMmVhMmMifQ.I7diR0BZvQWzn2okKy6qIQ" alt="">
                </p>
                <p class="u-text-align--center">No javascript available, can't display an interactive map.</p>
            </div>

            <script>
            leafletMapInitialize('find-us-map', {"lat":51.751613839,"lng":-1.21574715729,"zoom":13,"token":"pk.eyJ1IjoiYW5keWtraXJrIiwiYSI6ImNqbGh3a3FnbzA1aDMza204eDJnMmVhMmMifQ.I7diR0BZvQWzn2okKy6qIQ"}, [{"lat":"true","lng":"true","color":"blue","popup":"NeoCLEAR Address"}]);
            </script>
        </div>

    </aside>
</div>