<div class="c-panel  c-panel--very-light  t-neutral  u-space--above  u-space--above">
    <section class="c-panel__module">
        <h2>Parent Information Leaflet</h2>
        <p class="u-text-align--center  u-space--above">
            <a href="https://www.npeu.ox.ac.uk/downloads/files/frosttie/PIL/FROSTTIE%20PIL%20Leaflet%20v2.0%20-%2006-Dec-2018.pdf" type="application/pdf" class="c-thumbnail  c-thumbnail--medium">
                <img src="/img/frosttie/medium-FROSTTIE%20PIL%20Leaflet%20v2.0%20-%2006-Dec-2018.png" alt="">
            </a>
        </p>
    </section>
</div>
