                    <section class="c-panel__module">
                        <h2>Connect with us</h2>
                        
                        <div class="l-start">

                            <div class="u-padding--xs">
                                <a href="https://twitter.com/npeu_oxford" class="c-badge  c-badge--small  twitter" rel="external noopener noreferrer" target="_blank">
                                    <img src="/assets/images/brand-logos/social/twitter.svg" onerror="this.src='/assets/images/brand-logos/social/twitter.png'; this.onerror=null;" alt="YouTube" height="60">
                                </a>
                            </div>

                            <div class="u-padding--xs">
                                <a href="https://www.youtube.com/user/NPEUOxford" class="c-badge  c-badge--small  youtube" rel="external noopener noreferrer" target="_blank">
                                    <img src="/assets/images/brand-logos/social/youtube.svg" onerror="this.src='/assets/images/brand-logos/social/youtube.png'; this.onerror=null;" alt="Twitter" height="60">
                                </a>
                            </div>

                        </div>
                        
                    </section>