                <section class="c-panel__module">
                    <h2>Support</h2>

                    <div class="l-distribute-wrap">
                        <div class="l-distribute">

                            <div class="u-padding--s  l-center">
                                <a href="http://www.breastfeedingnetwork.org.uk" class="c-badge" rel="external noopener noreferrer" target="_blank">
                                    <img src="/assets/images/brand-logos/affiliate/bfn-logo.svg" onerror="this.src='/assets/images/brand-logos/affiliate/bfn-logo.png'; this.onerror=null;" alt="Logo: Breastfeeding Network" height="80">
                                </a>
                            </div>

                        </div>
                    </div>

                </section>