<!--

    IMAGE COVER
    
-->


<h2 id="image-cover">Image Cover</h2>

<p>Image covers should make use of the min-height classes to ensure imamges don't collapse to nothing in certain contexts.
The default min-heights are in steps of 10% sprinkled with common other picture ratios.</p>

<p>Note the max-width set on the containers below are inline styles and are not part of the patter. 
They're there to help make the images more manageable in this context.</p>

<p>Also note it's important to include a sensible width attribute, and a height attribute that corresponds to the images aspect ratio.
This helps keep the images manageable in a FallBack scenario, and helps browsers reserve space for images to avoid layout shift.</p>

<h3>Classic 16:9 min height (56.25%)</h3>

<div class="u-space--below" style="max-width: 50em; margin-left: auto; margin-right: auto;">

    <div class="l-box">
        <div class="u-image-cover  js-image-cover  u-image-cover--min-56-25">
            <div class="u-image-cover__inner">
                <img src="/assets/images/patterns/placeholder-1--small.jpg" sizes="100vw" srcset="/assets/images/patterns/placeholder-1--large.jpg 1600w, /assets/images/patterns/placeholder-1--medium.jpg 900w, /assets/images/patterns/placeholder-1--small.jpg 300w" alt="" class="u-image-cover__image" width="200" height="133">
            </div>
        </div>
    </div>

</div>

<div class="u-space--below">
    <details class="u-padding  d-background--light">
        <summary>Show code:</summary>
        <pre><code class="html">&lt;div class=&quot;u-image-cover  js-image-cover  u-image-cover--min-56-25&quot;&gt;
    &lt;div class=&quot;u-image-cover__inner&quot;&gt;
        &lt;img src=&quot;/assets/images/patterns/placeholder-1--small.jpg&quot; sizes=&quot;100vw&quot; srcset=&quot;/assets/images/patterns/placeholder-1--large.jpg 1600w, /assets/images/patterns/placeholder-1--medium.jpg 900w, /assets/images/patterns/placeholder-1--small.jpg 300w&quot; alt=&quot;&quot; class=&quot;u-image-cover__image&quot; width=&quot;200&quot; height=&quot;133&quot;&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
    </details>
</div>

<h3>Classic 4:3 min height (75%)</h3>

<div class="u-space--below" style="max-width: 50em; margin-left: auto; margin-right: auto;">

    <div class="l-box">
        <div class="u-image-cover  js-image-cover  u-image-cover--min-75">
            <div class="u-image-cover__inner">
                <img src="/assets/images/patterns/placeholder-1--small.jpg" sizes="100vw" srcset="/assets/images/patterns/placeholder-1--large.jpg 1600w, /assets/images/patterns/placeholder-1--medium.jpg 900w, /assets/images/patterns/placeholder-1--small.jpg 300w" alt="" class="u-image-cover__image" width="200" height="133">
            </div>
        </div>
    </div>

</div>

<h3>Square 1:1 min height (100%)</h3>

<div class="u-space--below" style="max-width: 50em; margin-left: auto; margin-right: auto;">

    <div class="l-box">
        <div class="u-image-cover  js-image-cover  u-image-cover--min-100">
            <div class="u-image-cover__inner">
                <img src="/assets/images/patterns/placeholder-1--small.jpg" sizes="100vw" srcset="/assets/images/patterns/placeholder-1--large.jpg 1600w, /assets/images/patterns/placeholder-1--medium.jpg 900w, /assets/images/patterns/placeholder-1--small.jpg 300w" alt="" class="u-image-cover__image" width="200" height="133">
            </div>
        </div>
    </div>

</div>
