---
layout: structure--pattern
title:  Distribute
---

<p class="u-padding--sides">Items in rows</p>

<h2 class="u-padding--sides">Default</h2>


{% include layout/distribute.html classes="l-distribute" prefix="a" %}


<h2 class="u-padding--sides" id="balance-top">Balance top (top-heavy)</h2>

{% include layout/distribute.html classes="l-distribute  l-distribute--balance-top" prefix="b" %}


<h2 class="u-padding--sides" id="balance-top">Balance bottom (bottom-heavy)</h2>

{% include layout/distribute.html classes="l-distribute  l-distribute--balance-bottom" prefix="c" %}

