/*
    Card
    =====
*/

$card-namespace: c- !default;


// Card title:
$card-title--font-size: 2.2rem;
$card-title--line-height: $s__base-rem-space-unit * 1.5;

//$card-stub-title--font-size: 2.4rem !default;
//$card-stub-title--line-height: 1 !default;

.#{$card-namespace}card {
    &#{&} {
        display: flex;
        flex-direction: column;

        height: 100%;
    }

        /*
            The markup pattern allows for a TFS border, so zap that:
        */
        & > div {
            display: flex;
            flex-direction: column;

            height: 100%;

            border: 0;
            padding: 0;
            margin: 0;
        }
        
        #{&}__header,
        #{&}__body,
        #{&}__footer {
            margin: 0;

            & > * {
                padding: 0;
                margin-right: calc(#{$s__sz-m} - #{$s__border-width});
                margin-left: calc(#{$s__sz-m} - #{$s__border-width});
            }
            
            &:first-child {
                margin-top: calc(#{$s__sz-m} - #{$s__border-width});
            }
            
            &:last-child {
                margin-bottom: calc(#{$s__sz-m} - #{$s__border-width});
            }
            
        }

        #{&}__header {
            display: flex;
            flex-direction: column;
        }

            #{&}__image {
                position: relative;
                order: -1;
                margin-top: calc(-#{$s__sz-m} + #{$s__border-width});
                margin-right: 0;
                margin-bottom: calc(#{$s__sz-m} - #{$s__border-width});;
                margin-left: 0;
            }

            #{&}__title {
                position: relative;
                font-size:   $card-title--font-size;
                line-height: $card-title--line-height;
            }

            #{&}__header-extra {
                margin-top: 0;
            }

        #{&}__body {
            margin-top: $s__sz-m;
            flex-grow: 1;
        }
}


.#{$card-namespace}card--unpublished {
    opacity: 0.5;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);

    &::after {
        content: "Unpublished";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        padding: 3px;
        font-size: 0.75em;
        color: #fff;
        background-color: #000;
    }
}
