/*
    Page Wrap
    ========
*/
$page-wrap-namespace: c- !default;

.#{$page-wrap-namespace}page-wrap {

    &#{&} {
        max-width: 1600px;
        margin: 0 auto;
        background-color: #fff;
    }

}
