/*
    Tool Form
    =========
*/

$tool-form-namespace: c- !default;

.#{$tool-form-namespace}tool-form {

    &#{&} {
        background-color: #fff;
        border-style: solid;
        border-color: var(--t-primary-color);
        border-width: $border-thick;
        border-radius: $s__sz-s;
        padding: calc(#{$s__sz-m} - #{$border-thick});
    }

    #{&}__fieldset {
        padding: 0;
        margin: 0;
        border: 0;

        &::after {
            display: none;
        }

        /*
            Chrome and older Firefox (and others?) don't support flex on a fieldset so we need
            an internal wrapper.
        */
        & > div {
            display: flex;
            flex-wrap: wrap;
        }

        /*
            1. Legends don't flex, this gets around that problem.
        */
        & legend {
            float: left; /* [1] */
            padding: ($s__sz-m / 4) 0;
            margin-right: $s__sz-m / 2;
            margin-bottom: 0;
        }

        & > div > :not(:last-child):not(legend) {
            margin-right: $s__sz-m;
        }

    }

        #{&}__group {
            display: inline-block;
            white-space: nowrap;
        }

}
