/*! PEARL Theme (c) NPEU */

/* --| START THEME |----------------------------------------------------------------------------- */

//@import "_themes-config.scss";
$theme-name: dolfin;
$theme: (
    cta-text-color       : #ffffff,
    cta-background-color : #67b0e2,
    primary-color        : #216092,
    secondary-color      : #67b0e2,
    page-header-color    : #ffffff
);


$s__breakpoint--enhanced: 50em;

$theme-copy: $theme;
$theme-name-copy: $theme-name;
@import "_style";



$theme-only: true;
@import "_themeable-patterns.scss";


//$theme: map_get($themes, $theme-name);
$theme: $theme-copy;
$theme-name: $theme-name-copy;
@import "_theme";

/* ---------------------------------------------------------------------------------------------- */

/* --| SHAME |----------------------------------------------------------------------------------- */

@import "_shame";

/* ---------------------------------------------------------------------------------------------- */