$s__base-ui-color: #5F6DB2;
$s__secondary-ui-color: #BC955C;

@import "_settings.scss";
@import "_core_themes.scss";

$font-color: $s__base-text-color;
$font-disabled-color: lighten($font-color, 26%);
$primary-color: darken($system-message--color, 24%);

@import '../bower_components/SlimSelect/src/slim-select/slimselect.scss';

/* To add to FallBack */
[id] {
    scroll-margin-top: 4.8em;
}

/*****/

/* To Add to Table Component --hmmm. Not sure yet because it doesn't work with scroll overflow */

.table--sticky-header {
    margin: 0;
}

.t-staff-area table.table--sticky-header thead th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    background-color: lighten($s__base-ui-color, 30%);
}

.table--sticky-header thead th::before {
    content: "";
    position: absolute;

    left: -1px;
    right: -1px;
    top: -1px;
    bottom: -1px;

    border: 1px solid #614776;

    z-index: -1;
}

.table--sticky-header thead th::after {
    content: "";
    position: absolute;

    left: 0;
    right: 0;
    height: 6px;
    bottom: -6px;
    box-shadow: 0 6px 3px -4px rgba(0, 0, 0, 0.3) inset;
}

/*****/

table.whatson-table.whatson-table {
    width: 100%;
    background: transparent;
    table-layout: fixed;
    border-collapse: collapse;
    border-color: map-get(map-get($themes, 'neutral'), primary-color);
}

table.whatson-table.whatson-table thead tr:first-child th {
    width: 12%;

    //background-color: map-get(map-get($themes, 'neutral'), primary-color);
    //color: #fff;

    //border-color: map-get(map-get($themes, 'neutral'), primary-color);
}

table.whatson-table.whatson-table thead tr:first-child th:first-child,
table.whatson-table.whatson-table thead tr:first-child th:last-child {
    width: 5%;
}

table.whatson-table.whatson-table td:first-child,
table.whatson-table.whatson-table td:last-child,
table.whatson-table.whatson-table th:first-child,
table.whatson-table.whatson-table th:last-child {
    text-align: center;
    padding: 0;
}


table.whatson-table.whatson-table td:first-child a,
table.whatson-table.whatson-table td:last-child a,
table.whatson-table.whatson-table th:first-child a,
table.whatson-table.whatson-table th:last-child a,
table.whatson-table.whatson-table .m-nav a {
    border: 0;
    padding: 1em;
}

table.whatson-table.whatson-table td:first-child a:hover,
table.whatson-table.whatson-table td:last-child a:hover,
table.whatson-table.whatson-table th:first-child a:hover,
table.whatson-table.whatson-table th:last-child a:hover,
table.whatson-table.whatson-table .m-nav a:hover {
    box-shadow: 0 0 0 3px rgba(0,0,0,0.3);
}

/*
table.whatson-table.whatson-table th a[href] {
    color: #fff;
}
*/

table.whatson-table.whatson-table td {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;

    border-color: map-get(map-get($themes, 'neutral'), primary-color);
}


table.whatson-table.whatson-table tr[filterable_visible_item="even"] td {
    background-color: #eee;
}

table.whatson-table.whatson-table tr[filterable_visible_item="odd"] td {
    background-color: #fff;
}


table.whatson-table.whatson-table tr[filterable_visible_item]:target td,
table.whatson-table.whatson-table[filterable_visibile_items="1"] tr[filterable_visible_item] td {
    background-color: lighten($s__secondary-ui-color, 20%);
}


table.whatson-table.whatson-table p {
    margin-bottom: 0.6em;
}

table.whatson-table.whatson-table p:last-child {
    margin-bottom: 0;
}

table.whatson-table.whatson-table .m-nav {
    display: none;
}



@media (max-width: 46em) {

    table.whatson-table.whatson-table,
    table.whatson-table.whatson-table tbody,
    table.whatson-table.whatson-table th,
    table.whatson-table.whatson-table td {
        display: block;
        font-size: 1em;
    }

    table.whatson-table.whatson-table thead {
        display: none;
    }


    table.whatson-table.whatson-table td:first-child,
    table.whatson-table.whatson-table td:last-child {
        display: none;
    }

    table.whatson-table.whatson-table tr:not([hidden]) {
        display: flex;
        flex-wrap: wrap;
    }

    table.whatson-table.whatson-table td {
        flex: 1 1 auto;
        border: 0;
    }

    table.whatson-table.whatson-table tr:not(:last-child) {
        border-bottom: 1px solid #614776;
    }

    table.whatson-table.whatson-table td:nth-child(2) {
        width: 100%;
    }

    table.whatson-table.whatson-table td::before {
        content: attr(data-day);
        display: block;
        font-size: 0.875em;
        font-weight: bold;
    }

    table.whatson-table.whatson-table td:nth-child(2) ~ td {
        padding-top: 0;
    }

    table.whatson-table.whatson-table td.is-editing {
        width: 100%;
    }

    table.whatson-table.whatson-table .m-nav {
        display: flex;
        margin: -1.2rem -0.6rem 0.6rem -0.6rem;
        background: rgba(0,0,0,0.1);
        line-height: 2.4rem;
    }

    table.whatson-table.whatson-table .m-nav a {
        flex: 1 0 auto;
        max-width: 50%;
        margin-bottom: 0;
        padding: 0 0.6rem;
    }

    table.whatson-table.whatson-table .m-nav a:last-child {
        margin-left: auto;
        text-align: right;
    }


}