<!--

    BASE

-->

<h2 class="u-padding--sides" id="base">Base</h2>

<p>The base layout provides the layout containers/wrappers, the layout box, and gutters.
Put together these form a 'stack' layout, which should be considered the default.</p>

<div class="l-layout">
    <div class="l-layout__inner">

        <div class="l-box">

            <div class="t-box-1">
                <p>
                    AAAA This is some content in the box. This is some content in the box.
                </p>
                <p>
                    BBBB This is some content in the box
                </p>
            </div>

        </div>
        <div class="l-box">

            <div class="t-box-1">
                <p>
                    CCCC This is some content in the box
                </p>
            </div>

        </div>
        <div class="l-box">

            <div class="t-box-1">
                <p>
                    DDDD This is some content in the box. This is some content in the box.
                </p>
                <p>
                    EEEE This is some content in the box
                </p>
            </div>

        </div>
        <div class="l-box">

            <div class="t-box-1">
                <p>
                    FFFF This is some content in the box
                </p>
            </div>

        </div>
        <div class="l-box">

            <div class="t-box-1">

                <p>
                    GGGG This is some content in the box
                </p>
                <p>
                    HHHH This is some content in the box. This is some content in the box.
                </p>
            </div>

        </div>

    </div><!-- End layout-inner -->
</div><!-- End layout -->

<h3 class="u-padding--sides">With gutter</h3>

<div class="l-layout  l-gutter  t-box-1">
    <div class="l-layout__inner">

        <div class="l-box">

            <div class="t-box-1">
                <p>
                    AAAA This is some content in the box. This is some content in the box.
                </p>
                <p>
                    BBBB This is some content in the box
                </p>
            </div>

        </div>
        <div class="l-box">

            <div class="t-box-1">
                <p>
                    CCCC This is some content in the box
                </p>
            </div>

        </div>
        <div class="l-box">

            <div class="t-box-1">
                <p>
                    DDDD This is some content in the box. This is some content in the box.
                </p>
                <p>
                    EEEE This is some content in the box
                </p>
            </div>

        </div>
        <div class="l-box">

            <div class="t-box-1">
                <p>
                    FFFF This is some content in the box
                </p>
            </div>

        </div>
        <div class="l-box">

            <div class="t-box-1">

                <p>
                    GGGG This is some content in the box
                </p>
                <p>
                    HHHH This is some content in the box. This is some content in the box.
                </p>
            </div>

        </div>

    </div><!-- End layout-inner -->
</div><!-- End layout -->

<h3 class="u-padding--sides">With gutter - small</h3>

<div class="l-layout  l-gutter--s  t-box-1">
    <div class="l-layout__inner">

        <div class="l-box">

            <div class="t-box-1">
                <p>
                    AAAA This is some content in the box. This is some content in the box.
                </p>
                <p>
                    BBBB This is some content in the box
                </p>
            </div>

        </div>
        <div class="l-box">

            <div class="t-box-1">
                <p>
                    CCCC This is some content in the box
                </p>
            </div>

        </div>
        <div class="l-box">

            <div class="t-box-1">
                <p>
                    DDDD This is some content in the box. This is some content in the box.
                </p>
                <p>
                    EEEE This is some content in the box
                </p>
            </div>

        </div>
        <div class="l-box">

            <div class="t-box-1">
                <p>
                    FFFF This is some content in the box
                </p>
            </div>

        </div>
        <div class="l-box">

            <div class="t-box-1">

                <p>
                    GGGG This is some content in the box
                </p>
                <p>
                    HHHH This is some content in the box. This is some content in the box.
                </p>
            </div>

        </div>

    </div><!-- End layout-inner -->
</div><!-- End layout -->

<h3 class="u-padding--sides">With gutter - large</h3>

<div class="l-layout  l-gutter--l  t-box-1">
    <div class="l-layout__inner">

        <div class="l-box">

            <div class="t-box-1">
                <p>
                    AAAA This is some content in the box. This is some content in the box.
                </p>
                <p>
                    BBBB This is some content in the box
                </p>
            </div>

        </div>
        <div class="l-box">

            <div class="t-box-1">
                <p>
                    CCCC This is some content in the box
                </p>
            </div>

        </div>
        <div class="l-box">

            <div class="t-box-1">
                <p>
                    DDDD This is some content in the box. This is some content in the box.
                </p>
                <p>
                    EEEE This is some content in the box
                </p>
            </div>

        </div>
        <div class="l-box">

            <div class="t-box-1">
                <p>
                    FFFF This is some content in the box
                </p>
            </div>

        </div>
        <div class="l-box">

            <div class="t-box-1">

                <p>
                    GGGG This is some content in the box
                </p>
                <p>
                    HHHH This is some content in the box. This is some content in the box.
                </p>
            </div>

        </div>

    </div><!-- End layout-inner -->
</div><!-- End layout -->

<h3 class="u-padding--sides">With gutter - flush edges</h3>

<div class="l-layout  l-gutter  l-flush-edge-gutter  t-box-1">
    <div class="l-layout__inner">

        <div class="l-box">

            <div class="t-box-1">
                <p>
                    AAAA This is some content in the box. This is some content in the box.
                </p>
                <p>
                    BBBB This is some content in the box
                </p>
            </div>

        </div>
        <div class="l-box">

            <div class="t-box-1">
                <p>
                    CCCC This is some content in the box
                </p>
            </div>

        </div>
        <div class="l-box">

            <div class="t-box-1">
                <p>
                    DDDD This is some content in the box. This is some content in the box.
                </p>
                <p>
                    EEEE This is some content in the box
                </p>
            </div>

        </div>
        <div class="l-box">

            <div class="t-box-1">
                <p>
                    FFFF This is some content in the box
                </p>
            </div>

        </div>
        <div class="l-box">

            <div class="t-box-1">

                <p>
                    GGGG This is some content in the box
                </p>
                <p>
                    HHHH This is some content in the box. This is some content in the box.
                </p>
            </div>

        </div>

    </div><!-- End layout-inner -->
</div><!-- End layout -->

<h3 class="u-padding--sides">With gutter - flush edges - small</h3>

<div class="l-layout  l-gutter--s  l-flush-edge-gutter  t-box-1">
    <div class="l-layout__inner">

        <div class="l-box">

            <div class="t-box-1">
                <p>
                    AAAA This is some content in the box. This is some content in the box.
                </p>
                <p>
                    BBBB This is some content in the box
                </p>
            </div>

        </div>
        <div class="l-box">

            <div class="t-box-1">
                <p>
                    CCCC This is some content in the box
                </p>
            </div>

        </div>
        <div class="l-box">

            <div class="t-box-1">
                <p>
                    DDDD This is some content in the box. This is some content in the box.
                </p>
                <p>
                    EEEE This is some content in the box
                </p>
            </div>

        </div>
        <div class="l-box">

            <div class="t-box-1">
                <p>
                    FFFF This is some content in the box
                </p>
            </div>

        </div>
        <div class="l-box">

            <div class="t-box-1">

                <p>
                    GGGG This is some content in the box
                </p>
                <p>
                    HHHH This is some content in the box. This is some content in the box.
                </p>
            </div>

        </div>

    </div><!-- End layout-inner -->
</div><!-- End layout -->

<h3 class="u-padding--sides">With gutter - flush edges - large</h3>

<div class="l-layout  l-gutter--l  l-flush-edge-gutter  t-box-1">
    <div class="l-layout__inner">

        <div class="l-box">

            <div class="t-box-1">
                <p>
                    AAAA This is some content in the box. This is some content in the box.
                </p>
                <p>
                    BBBB This is some content in the box
                </p>
            </div>

        </div>
        <div class="l-box">

            <div class="t-box-1">
                <p>
                    CCCC This is some content in the box
                </p>
            </div>

        </div>
        <div class="l-box">

            <div class="t-box-1">
                <p>
                    DDDD This is some content in the box. This is some content in the box.
                </p>
                <p>
                    EEEE This is some content in the box
                </p>
            </div>

        </div>
        <div class="l-box">

            <div class="t-box-1">
                <p>
                    FFFF This is some content in the box
                </p>
            </div>

        </div>
        <div class="l-box">

            <div class="t-box-1">

                <p>
                    GGGG This is some content in the box
                </p>
                <p>
                    HHHH This is some content in the box. This is some content in the box.
                </p>
            </div>

        </div>

    </div><!-- End layout-inner -->
</div><!-- End layout -->


<h3 class="u-padding--sides">Column to Row</h3>

<p>The default stack layout can be made into a 'col-to-row' layout by adding the ff-width classes to the boxes.</p>

<h4 class="u-padding--sides">Without gutter</h4>

<div class="l-layout  t-box-1">
    <div class="l-layout__inner">

        <div class="l-box  ff-width-100--40--33-333">

            <div class="t-box-1">
                <p>
                    AAAA This is some content in the box. This is some content in the box.
                </p>
                <p>
                    BBBB This is some content in the box
                </p>
            </div>

        </div>
        <div class="l-box  ff-width-100--40--33-333">

            <div class="t-box-1">
                <p>
                    CCCC This is some content in the box
                </p>
            </div>

        </div>
        <div class="l-box  ff-width-100--40--33-333">

            <div class="t-box-1">
                <p>
                    DDDD This is some content in the box. This is some content in the box.
                </p>
                <p>
                    EEEE This is some content in the box
                </p>
            </div>

        </div>

    </div><!-- End layout-inner -->
</div><!-- End layout -->

<h4 class="u-padding--sides">With gutter</h4>

<div class="l-layout  l-gutter  t-box-1">
    <div class="l-layout__inner">

        <div class="l-box  ff-width-100--40--33-333">

            <div class="t-box-1">
                <p>
                    AAAA This is some content in the box. This is some content in the box.
                </p>
                <p>
                    BBBB This is some content in the box
                </p>
            </div>

        </div>
        <div class="l-box  ff-width-100--40--33-333">

            <div class="t-box-1">
                <p>
                    CCCC This is some content in the box
                </p>
            </div>

        </div>
        <div class="l-box  ff-width-100--40--33-333">

            <div class="t-box-1">
                <p>
                    DDDD This is some content in the box. This is some content in the box.
                </p>
                <p>
                    EEEE This is some content in the box
                </p>
            </div>

        </div>

    </div><!-- End layout-inner -->
</div><!-- End layout -->

<h4 class="u-padding--sides">With gutter - flush edges</h4>

<div class="l-layout  l-gutter  l-flush-edge-gutter  t-box-1">
    <div class="l-layout__inner">

        <div class="l-box  ff-width-100--40--33-333">

            <div class="t-box-1">
                <p>
                    AAAA This is some content in the box. This is some content in the box.
                </p>
                <p>
                    BBBB This is some content in the box
                </p>
            </div>

        </div>
        <div class="l-box  ff-width-100--40--33-333">

            <div class="t-box-1">
                <p>
                    CCCC This is some content in the box
                </p>
            </div>

        </div>
        <div class="l-box  ff-width-100--40--33-333">

            <div class="t-box-1">
                <p>
                    DDDD This is some content in the box. This is some content in the box.
                </p>
                <p>
                    EEEE This is some content in the box
                </p>
            </div>

        </div>

    </div><!-- End layout-inner -->
</div><!-- End layout -->

<h4 class="u-padding--sides">Nested</h4>

<div class="l-layout  l-gutter  t-box-1">
    <div class="l-layout__inner">

        <div class="l-box  ff-width-100--55--50">

            <div class="t-box-1">
                <p>
                    AAAA This is some content in the box. This is some content in the box.
                </p>
                <p>
                    BBBB This is some content in the box
                </p>
            </div>

        </div>
        <div class="l-box  ff-width-100--55--50">

            <div class="l-layout  l-gutter  t-box-1">
                <div class="l-layout__inner">

                    <div class="l-box  ff-width-100--35--50">

                        <div class="t-box-1">
                            <p>
                                AAAA This is some content in the box. This is some content in the box.
                            </p>
                            <p>
                                BBBB This is some content in the box
                            </p>
                        </div>

                    </div>
                    <div class="l-box  ff-width-100--35--50">

                        <div class="t-box-1">
                            <p>
                                CCCC This is some content in the box
                            </p>
                        </div>

                    </div>

                </div><!-- End layout-inner -->
            </div><!-- End layout -->

        </div>

    </div><!-- End layout-inner -->
</div><!-- End layout -->