<!--

    DISTRIBUTE

-->

<h3 class="u-padding--sides" id="{{ include.prefix }}-n1">n = 1</h3>

<div class="l-layout  {{ include.classes }}  l-basis-35  l-gutter  t-box-1">
    <div class="l-layout__inner">

        <div class="l-box">

            {% include card.html
                title="1. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-1"
                img_alt="Mother looking at the child she's holding"
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>

    </div><!-- End layout-inner -->
</div><!-- End layout -->

<h3 class="u-padding--sides" id="{{ include.prefix }}-n2">n = 2</h3>

<div class="l-layout  {{ include.classes }}  l-basis-35  l-gutter  t-box-1">
    <div class="l-layout__inner">

        <div class="l-box">

            {% include card.html
                title="1. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-1"
                img_alt="Mother looking at the child she's holding."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="2. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-2"
                img_alt="Father holding his child."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>

    </div><!-- End layout-inner -->
</div><!-- End layout -->

<h3 class="u-padding--sides" id="{{ include.prefix }}-n3">n = 3</h3>

<div class="l-layout  {{ include.classes }}  l-basis-35  l-gutter  t-box-1">
    <div class="l-layout__inner">

        <div class="l-box">

            {% include card.html
                title="1. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-1"
                img_alt="Mother looking at the child she's holding."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="2. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-2"
                img_alt="Father holding his child."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="3. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-3"
                img_alt="Mother holding her child"
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>

    </div><!-- End layout-inner -->
</div><!-- End layout -->

<h3 class="u-padding--sides" id="{{ include.prefix }}-n4">n = 4</h3>

<div class="l-layout  {{ include.classes }}  l-basis-35  l-gutter  t-box-1">
    <div class="l-layout__inner">

        <div class="l-box">

            {% include card.html
                title="1. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-1"
                img_alt="Mother looking at the child she's holding."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="2. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-2"
                img_alt="Father holding his child."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="3. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-3"
                img_alt="Mother holding her child"
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="4. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-1"
                img_alt="Mother looking at the child she's holding."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>

    </div><!-- End layout-inner -->
</div><!-- End layout -->

<h3 class="u-padding--sides" id="{{ include.prefix }}-n5">n = 5</h3>

<div class="l-layout  {{ include.classes }}  l-basis-35  l-gutter  t-box-1">
    <div class="l-layout__inner">

        <div class="l-box">

            {% include card.html
                title="1. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-1"
                img_alt="Mother looking at the child she's holding."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="2. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-2"
                img_alt="Father holding his child."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="3. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-3"
                img_alt="Mother holding her child"
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="4. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-1"
                img_alt="Mother looking at the child she's holding."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="5. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-2"
                img_alt="Father holding his child."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>

    </div><!-- End layout-inner -->
</div><!-- End layout -->

<h3 class="u-padding--sides" id="{{ include.prefix }}-n6">n = 6</h3>

<div class="l-layout  {{ include.classes }}  l-basis-35  l-gutter  t-box-1">
    <div class="l-layout__inner">

        <div class="l-box">

            {% include card.html
                title="1. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-1"
                img_alt="Mother looking at the child she's holding."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="2. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-2"
                img_alt="Father holding his child."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="3. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-3"
                img_alt="Mother holding her child"
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="4. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-1"
                img_alt="Mother looking at the child she's holding."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="5. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-2"
                img_alt="Father holding his child."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="6. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-3"
                img_alt="Mother holding her child"
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>

    </div><!-- End layout-inner -->
</div><!-- End layout -->

<h3 class="u-padding--sides" id="{{ include.prefix }}-n7">n = 7</h3>

<div class="l-layout  {{ include.classes }}  l-basis-35  l-gutter  t-box-1">
    <div class="l-layout__inner">

        <div class="l-box">

            {% include card.html
                title="1. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-1"
                img_alt="Mother looking at the child she's holding"
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="2. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-2"
               img_alt="Father holding his child"
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="3. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-3"
                img_alt="Mother holding her child"
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="4. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-1"
                img_alt="Mother looking at the child she's holding"
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="5. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-2"
               img_alt="Father holding his child"
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="6. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-3"
                img_alt="Mother holding her child"
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="7. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-1"
                img_alt="Mother looking at the child she's holding"
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>

    </div><!-- End layout-inner -->
</div><!-- End layout -->

<h3 class="u-padding--sides" id="{{ include.prefix }}-n8">n = 8</h3>

<div class="l-layout  {{ include.classes }}  l-basis-35  l-gutter  t-box-1">
    <div class="l-layout__inner">

        <div class="l-box">

            {% include card.html
                title="1. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-1"
                img_alt="Mother looking at the child she's holding."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="2. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-2"
                img_alt="Father holding his child."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="3. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-3"
                img_alt="Mother holding her child"
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="4. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-1"
                img_alt="Mother looking at the child she's holding."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="5. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-2"
                img_alt="Father holding his child."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="6. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-3"
                img_alt="Mother holding her child"
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="7. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-1"
                img_alt="Mother looking at the child she's holding."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="8. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-2"
                img_alt="Father holding his child."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>

    </div><!-- End layout-inner -->
</div><!-- End layout -->

<h3 class="u-padding--sides" id="{{ include.prefix }}-n9">n = 9</h3>

<div class="l-layout  {{ include.classes }}  l-basis-35  l-gutter  t-box-1">
    <div class="l-layout__inner">

        <div class="l-box">

            {% include card.html
                title="1. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-1"
                img_alt="Mother looking at the child she's holding."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="2. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-2"
                img_alt="Father holding his child."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="3. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-3"
                img_alt="Mother holding her child"
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="4. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-1"
                img_alt="Mother looking at the child she's holding."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="5. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-2"
                img_alt="Father holding his child."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="6. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-3"
                img_alt="Mother holding her child"
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="7. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-1"
                img_alt="Mother looking at the child she's holding."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="8. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-2"
                img_alt="Father holding his child."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="9. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-3"
                img_alt="Mother holding her child"
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>

    </div><!-- End layout-inner -->
</div><!-- End layout -->

<h3 class="u-padding--sides" id="{{ include.prefix }}-n10">n = 10</h3>

<div class="l-layout  {{ include.classes }}  l-basis-35  l-gutter  t-box-1">
    <div class="l-layout__inner">

        <div class="l-box">

            {% include card.html
                title="1. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-1"
                img_alt="Mother looking at the child she's holding."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="2. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-2"
                img_alt="Father holding his child."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="3. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-3"
                img_alt="Mother holding her child"
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="4. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-1"
                img_alt="Mother looking at the child she's holding."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="5. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-2"
                img_alt="Father holding his child."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="6. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-3"
                img_alt="Mother holding her child"
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="7. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-1"
                img_alt="Mother looking at the child she's holding."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="8. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-2"
                img_alt="Father holding his child."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="9. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-3"
                img_alt="Mother holding her child"
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="10. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-1"
                img_alt="Mother looking at the child she's holding."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>

    </div><!-- End layout-inner -->
</div><!-- End layout -->

<h3 class="u-padding--sides" id="{{ include.prefix }}-n11">n = 11</h3>

<div class="l-layout  {{ include.classes }}  l-basis-35  l-gutter  t-box-1">
    <div class="l-layout__inner">

        <div class="l-box">

            {% include card.html
                title="1. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-1"
                img_alt="Mother looking at the child she's holding."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="2. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-2"
                img_alt="Father holding his child."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="3. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-3"
                img_alt="Mother holding her child"
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="4. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-1"
                img_alt="Mother looking at the child she's holding."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="5. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-2"
                img_alt="Father holding his child."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="6. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-3"
                img_alt="Mother holding her child"
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="7. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-1"
                img_alt="Mother looking at the child she's holding."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="8. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-2"
                img_alt="Father holding his child."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="9. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-3"
                img_alt="Mother holding her child"
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="10. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-1"
                img_alt="Mother looking at the child she's holding."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="11. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-2"
                img_alt="Father holding his child."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>

    </div><!-- End layout-inner -->
</div><!-- End layout -->

<h3 class="u-padding--sides" id="{{ include.prefix }}-n12">n = 12</h3>

<div class="l-layout  {{ include.classes }}  l-basis-35  l-gutter  t-box-1">
    <div class="l-layout__inner">
        
        <div class="l-box">

            {% include card.html
                title="1. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-1"
                img_alt="Mother looking at the child she's holding."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="2. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-2"
                img_alt="Father holding his child."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="3. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-3"
                img_alt="Mother holding her child"
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="4. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-1"
                img_alt="Mother looking at the child she's holding."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="5. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-2"
                img_alt="Father holding his child."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="6. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-3"
                img_alt="Mother holding her child"
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="7. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-1"
                img_alt="Mother looking at the child she's holding."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="8. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-2"
                img_alt="Father holding his child."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="9. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-3"
                img_alt="Mother holding her child"
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="10. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-1"
                img_alt="Mother looking at the child she's holding."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="11. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-2"
                img_alt="Father holding his child."
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>
        <div class="l-box">

            {% include card.html
                title="12. This card has everything"
                url="/patterns"
                header_extra=date_content
                content="<p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p><p>This card tells you something else about something else.</p>"
                cta="Read more"
                img_src="/assets/images/patterns/placeholder-3"
                img_alt="Mother holding her child"
                footer_extra="<p>- by <a href=\"#author\">Some Author</a></p>"
            %}

        </div>

    </div><!-- End layout-inner -->
</div><!-- End layout -->