---
layout: structure
---
<div class="sticky-footer-wrap  c-page-wrap">
    <div id="hero" class="c-hero  c-hero--reversed  d-bands--top  d-bands--bottom">
        <div class="c-hero__image">
            <div class="l-proportional-container  l-proportional-container--3-1  l-proportional-container--4-1--wide  hero-image">
                <div class="l-proportional-container__content">
                    <div class="u-image-cover  js-image-cover">
                        <div class="u-image-cover__inner">
                            <img src="/img/hero-image-404.jpg" alt="" class="u-image-cover__image" width="200">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="c-hero__message">
            <p class="u-padding--s">
                <a href="https://www.npeu.ox.ac.uk" class="c-badge">
                    <img src="/assets/images/brand-logos/unit/npeu-logo.svg" onerror="this.src='/assets/images/brand-logos/unit/npeu-logo.png'; this.onerror=null;" alt="Logo: NPEU" height="80">
                </a>
            </p>
            <p class="u-padding--top--s  u-padding--bottom--s  u-padding--sides">Uh oh. We couldn't find that page.</p>
        </div>
    </div>

    <div class="sticky-footer-expand">
        <main id="main" role="main">
            <div class="l-blockrow">
                <div class="d-bands--bottom t-npeu">
                    <div class="c-panel">
                        <h1>{{ page.title }}</h1>
                    </div>
                    <div class="c-panel">
                        {{ content }}
                    </div>
                </div>
            </div>
        </main>
    </div>

    <footer class="sticky-footer" role="contentinfo" id="page-footer">

        <div class="l-distribute-wrap">
            <div class="l-distribute  l-distribute--gutter--small  l-distribute--limit-15">

                <div class="u-padding--s  l-center">
                    <a href="https://dev.npeu.ox.ac.uk/athena-swan" class="c-badge" rel="external noopener noreferrer" target="_blank">
                        <img src="/assets/images/brand-logos/affiliate/athena-swan-silver-award.svg" onerror="this.src='/assets/images/brand-logos/affiliate/athena-swan-silver-award.png'; this.onerror=null;" alt="Logo: Athena Swan Silver Award" height="70">
                    </a>
                </div>

                <div class="u-padding--s  l-center">
                    <a href="http://www.ndph.ox.ac.uk/" class="c-badge" rel="external noopener noreferrer" target="_blank">
                        <img src="/assets/images/brand-logos/affiliate/ndph-logo.svg" onerror="this.src='/assets/images/brand-logos/affiliate/ndph-logo.png'; this.onerror=null;" alt="Logo: Nuffield Department of Population Health" height="50">
                    </a>
                </div>

                <div class="u-padding--s  l-center">
                    <a href="http://www.ox.ac.uk/" class="c-badge" rel="external noopener noreferrer" target="_blank">
                        <img src="/assets/images/brand-logos/affiliate/ou-logo-rect.svg" onerror="this.src='/assets/images/brand-logos/affiliate/ou-logo-rect.png'; this.onerror=null;" alt="Logo: University of Oxford" height="60">
                    </a>
                </div>

            </div>
        </div>

        <div class="c-page-footer  u-text-align--center">
            <p class="c-utilitext">
                © NPEU 2019 | <a href="https://dev.npeu.ox.ac.uk/neoclear"><span>Home</span></a> | <a href="https://dev.npeu.ox.ac.uk/ctu/trials"><span>CTU Trials Portfolio</span></a> | <a href="https://dev.npeu.ox.ac.uk/about"><span>About the NPEU</span></a> | <a href="https://dev.npeu.ox.ac.uk/privacy-cookies"><span>Privacy &amp; Cookies</span></a> | <a href="https://dev.npeu.ox.ac.uk/accessibility-help"><span>Accessibility &amp; Help</span></a> | <a href="#top"><span>Top of page</span></a>
            </p>
        </div>

    </footer>
</div>