<!--

    BACKGROUND

-->


<h2 id="background">Background</h2>

<p>Because of the way the colour-themer has to work, it's far easier to develop components in 'grey' and then apply decoration classes as needed.</p>

<p>Shadows for box visibility purposes only.</p>

<h2>Backgrounds Primary / Default Colour</h2>

<div class="s-example--padded--outer  u-space--below">
    <p>
        Text text <a href="#">Testing a link</a> - no background
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  d-background">
    <p>
        Text text <a href="#">Testing a link</a>
        d-background
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  d-background--light">
    <p>
        Text text <a href="#">Testing a link</a>
        d-background--light
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  d-background--very-light">
    <p>
        Text text <a href="#">Testing a link</a>
        d-background--very-light
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  d-background--dark">
    <p>
        Text text <a href="#">Testing a link</a>
        d-background--dark
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  d-background--very-dark">
    <p>
        Text text <a href="#">Testing a link</a>
        d-background--very-dark
    </p>
</div>

<hr>
<h2>Backgrounds - Secondary Colour</h2>

<div class="s-example--padded--outer  u-space--below  t-secondary">
    <p>
        Text text <a href="#">Testing a link</a>
        t-secondary
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  d-background  t-secondary">
    <p>
        Text text <a href="#">Testing a link</a>
        d-background t-secondary
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  d-background--light  t-secondary">
    <p>
        Text text <a href="#">Testing a link</a>
        d-background--light t-secondary
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  d-background--very-light  t-secondary">
    <p>
        Text text <a href="#">Testing a link</a>
        d-background--very-light t-secondary
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  d-background--dark  t-secondary">
    <p>
        Text text <a href="#">Testing a link</a>
        d-background--dark t-secondary
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  d-background--very-dark  t-secondary">
    <p>
        Text text <a href="#">Testing a link</a>
        d-background--very-dark t-secondary
    </p>
</div>

<hr>
<h2>Backgrounds - Neutral</h2>

<div class="s-example--padded--outer  u-space--below  t-neutral">
    <p>
        Text text <a href="#">Testing a link</a>
        t-neutral
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  d-background  t-neutral">
    <p>
        Text text <a href="#">Testing a link</a>
        d-background t-neutral
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  d-background--light  t-neutral">
    <p>
        Text text <a href="#">Testing a link</a>
        d-background--light t-neutral
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  d-background--very-light  t-neutral">
    <p>
        Text text <a href="#">Testing a link</a>
        d-background--very-light t-neutral
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  d-background--dark  t-neutral">
    <p>
        Text text <a href="#">Testing a link</a>
        d-background--dark t-neutral
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  d-background--very-dark  t-neutral">
    <p>
        Text text <a href="#">Testing a link</a>
        d-background--very-dark t-neutral
    </p>
</div>

<h2>Nested</h2>

<div class="s-example--padded--outer  u-space--below  d-background--dark">
    <p>
        Text text <a href="#">Testing a link</a>
        d-background--very-dark
    </p>
    <div class="s-example--padded--outer  u-space--below  d-background--very-light  t-neutral">
        <p>
            Text text <a href="#">Testing a link</a>
            d-background--very-light t-neutral
        </p>
    </div>
</div>
