<!--

    BORDER

-->


<h2 id="border">Border</h2>

<p>Because of the way the colour-themer has to work, it's far easier to develop components in 'grey' and then apply decoration classes as needed.</p>

<p>Shadows for box visibility purposes only.</p>

<h2>Border Primary / Default Colour</h2>

<div class="s-example--padded--outer  u-space--below">
    <p>
        Text text <a href="#">Testing a link</a> - no border
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  d-border">
    <p>
        Text text <a href="#">Testing a link</a>
        d-border
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  d-border--thick">
    <p>
        Text text <a href="#">Testing a link</a>
        d-border--thick
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  d-border--bottom">
    <p>
        Text text <a href="#">Testing a link</a>
        d-border--bottom
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  d-border--bottom--thick">
    <p>
        Text text <a href="#">Testing a link</a>
        d-border--bottom--thick
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  d-border--top">
    <p>
        Text text <a href="#">Testing a link</a>
        d-border--top
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  d-border--top--thick">
    <p>
        Text text <a href="#">Testing a link</a>
        d-border--top--thick
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  d-border--left">
    <p>
        Text text <a href="#">Testing a link</a>
        d-border--left
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  d-border--left--thick">
    <p>
        Text text <a href="#">Testing a link</a>
        d-border--left--thick
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  d-border--right">
    <p>
        Text text <a href="#">Testing a link</a>
        d-border--right
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  d-border--right--thick">
    <p>
        Text text <a href="#">Testing a link</a>
        d-border--right--thick
    </p>
</div>



<hr>

<h2>Border - Secondary Colour</h2>

<div class="s-example--padded--outer  u-space--below  t-secondary">
    <p>
        Text text <a href="#">Testing a link</a>
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  t-secondary  d-border">
    <p>
        Text text <a href="#">Testing a link</a>
        d-border
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  t-secondary  d-border--thick">
    <p>
        Text text <a href="#">Testing a link</a>
        d-border--thick
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  t-secondary  d-border--bottom">
    <p>
        Text text <a href="#">Testing a link</a>
        d-border--bottom
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  t-secondary  d-border--bottom--thick">
    <p>
        Text text <a href="#">Testing a link</a>
        d-border--bottom--thick
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  t-secondary  d-border--top">
    <p>
        Text text <a href="#">Testing a link</a>
        d-border--top
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  t-secondary  d-border--top--thick">
    <p>
        Text text <a href="#">Testing a link</a>
        d-border--top--thick
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  t-secondary  d-border--left">
    <p>
        Text text <a href="#">Testing a link</a>
        d-border--left
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  t-secondary  d-border--left--thick">
    <p>
        Text text <a href="#">Testing a link</a>
        d-border--left--thick
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  t-secondary  d-border--right">
    <p>
        Text text <a href="#">Testing a link</a>
        d-border--right
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  t-secondary  d-border--right--thick">
    <p>
        Text text <a href="#">Testing a link</a>
        d-border--right--thick
    </p>
</div>

<hr>

<h2>Border - Neutral</h2>

<div class="s-example--padded--outer  u-space--below  t-neutral">
    <p>
        Text text <a href="#">Testing a link</a>
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  t-neutral  d-border">
    <p>
        Text text <a href="#">Testing a link</a>
        d-border
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  t-neutral  d-border--thick">
    <p>
        Text text <a href="#">Testing a link</a>
        d-border--thick
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  t-neutral  d-border--bottom">
    <p>
        Text text <a href="#">Testing a link</a>
        d-border--bottom
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  t-neutral  d-border--bottom--thick">
    <p>
        Text text <a href="#">Testing a link</a>
        d-border--bottom--thick
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  t-neutral  d-border--top">
    <p>
        Text text <a href="#">Testing a link</a>
        d-border--top
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  t-neutral  d-border--top--thick">
    <p>
        Text text <a href="#">Testing a link</a>
        d-border--top--thick
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  t-neutral  d-border--left">
    <p>
        Text text <a href="#">Testing a link</a>
        d-border--left
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  t-neutral  d-border--left--thick">
    <p>
        Text text <a href="#">Testing a link</a>
        d-border--left--thick
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  t-neutral  d-border--right">
    <p>
        Text text <a href="#">Testing a link</a>
        d-border--right
    </p>
</div>

<div class="s-example--padded--outer  u-space--below  t-neutral  d-border--right--thick">
    <p>
        Text text <a href="#">Testing a link</a>
        d-border--right--thick
    </p>
</div>